<template>
  <div class="p-fluid">
    <div class="p-field">
      <label for="description">{{ __("Message content") }}</label>
      <p-vue-textarea id="content"
                      
                      rows="6"
                      class="p-inputtext--alt no-radius"
                      
                      :autoResize="true"
                      
                      v-model="form.content.$value"
                    />
      <i-form-error :data="form.content.$errors" />
    </div>
    <div class="p-field p-d-flex p-flex-wrap p-ai-center">
      <div class="p-field-radiobutton p-ml-5">
        <p-vue-radio id="invalid" name="date-to" value="invalid" v-model="dateTo" />
        <label for="invalid">{{ __("Invalid") }}</label>
      </div>
      <div class="p-field-radiobutton">
        <p-vue-radio id="date" name="date-to" value="date" v-model="dateTo" />
        <label for="date">{{ __("Show message to") }}</label>
      </div>
      <div  v-if="dateTo == 'date'"
            
            class="calendar p-mt-2">
        <p-vue-calendar type="text"
                        id="calendar"
                        class="p-inputtext--alt no-radius"

                        v-model="form.date.$value"
                    />
        <i-form-error :data="form.date.$errors" />
      </div>
    </div>
    <div class="p-field">
      
    </div>
    <div class="p-button-group">
      <p-vue-button class="p-button p-button-success p-button-rounded p-jc-center"
                    
                    @click="submit">
        {{ __(mode == 'UPDATE' ? "Update" : "Add") }}
      </p-vue-button>
      <p-vue-button v-if="mode == 'UPDATE'"
                    class="p-button p-button-success p-jc-center"
                    
                    @click="deleteHandle">
        {{ __("Delete") }}
      </p-vue-button>
      <p-vue-button class="p-button p-button-success p-button-rounded p-jc-center"
                    
                    @click="close">
        {{ __("Void") }}
      </p-vue-button>
    </div>
  </div>
</template>

<script>

import { ref, watch, computed } from 'vue'

import { useStore } from 'vuex'

import { useValidation, ValidationError } from 'vue3-form-validation'

export default {
  props: {
    mode: String,
    close: Function,
  },
  setup(props) {
    const $store = useStore()

    const dateTo = ref($store.getters['announcement/getDate'] ? 'date' : 'invalid')

    const { form, errors, validateFields, resetFields } = useValidation({
      content: {
        $value: computed({
          get: () => $store.getters['announcement/getText'],
          set: value => $store.commit('announcement/setText', value),
        }),
        $rules: [
          val => !val && "Description is required",
          val => val.length <= 10 && "The description must be at least 10 characters long.",
        ],
      },
      date: {
        $value: computed({
          get: () => $store.getters['announcement/getDate'],
          set: value => $store.commit('announcement/setDate', value),
        }),
        $rules: [
        ],
      },
    })

    watch(dateTo, value => {
      if (value == 'invalid') $store.commit('announcement/setDate', null)
    })

    const submit = async () => {
      try {
        await validateFields()

        $store.dispatch('doLoading', true)

        if (!errors.length) {
          $store.dispatch('announcement/doSave', props.mode)
            .then(response => {
              if (response.success) {
                props.close()
                $store.dispatch('doLoading', false)
                resetFields()
              }
            })
        }
      } catch(err) {
        if (!(err instanceof ValidationError))
          console.error(err)
      }
    }

    const deleteHandle = () => {
      $store.dispatch('doLoading', true)

      $store.dispatch('announcement/doDelete')
        .then(response => {
          if (response.success) {
            props.close();
            $store.dispatch('doLoading', false)
          }
        })
    }

    return {
      form,
      dateTo,

      submit,
      deleteHandle,
    }
  }  
}

</script>

<style scoped>

  :deep .p-field-radiobutton {
    margin-bottom: 0;
  }

  .calendar {
    flex: 0 0 100%;
  }

  .p-button-group {
    gap: 1px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }

  .p-button-group :deep .p-button:not(.p-button-rounded) {
    border-radius: 0;
  }


</style>