<template>
  <div class="dashboard-block-wrapper">
    <div class="dashboard-block-content">
      {{ __("The tenants' room is for the well-being of the tenants the building. Check availability for your own event.") }}
    </div>
    <p-vue-button class="block-button p-button-success p-button-rounded p-button-outlined p-button-bold"
                  
                  @click="$router.push({ name: 'TenantRoom' })">
      <span class="block-button-text">{{ __("To order") }}</span>
    </p-vue-button>
  </div>
</template>