<template>
  <div class="dashboard-block-wrapper">
    <div class="dashboard-block-content">
      <div  v-if="!debt"

            class="empty">
        {{ __("You have no debt to the House Committee") }}
        <br />
        {{ __("Well done!") }}
      </div>
      <div v-else></div>
    </div>
    <p-vue-button class="block-button p-button-success p-button-rounded p-button-outlined p-button-bold"
                  
                  @click="$router.push({ name: 'FinancialReport' })">
      <span class="block-button-text">{{ __("For details of payments") }}</span>
    </p-vue-button>
  </div>
</template>

<script>

import { computed } from 'vue'
import { useStore } from 'vuex'

export default {
  setup() {
    const $store = useStore();

    const debt = computed(() => $store.getters.getFinancialCondition.debt)

    return {
      debt,
    }
  }
}

</script>