<template>
  <div class="dashboard-block-wrapper">
    <div class="dashboard-block-content">
      <div  v-if="!data.length"
            class="empty">
        {{ __("Order home service") }}
      </div>
      <div v-else></div>
    </div>
    <p-vue-button class="block-button p-button-success p-button-rounded p-button-outlined p-button-bold"
                  
                  @click="$router.push({ name: 'OpenServiceCall' })">
      <span class="block-button-text">{{ __("Order service") }}</span>
    </p-vue-button>
  </div>
</template>

<script>

import { computed } from 'vue'
import { useStore } from 'vuex'

export default {
  setup() {

    const $store = useStore()

    const data = computed(() => $store.getters.getHomeServices)

    return {
      data,
    }
  }
}

</script>