<template>
  <div class="announcements">
    <ul class="list">
      <li v-for="(datum, index) in announcements.heading"

          :key="index"

          class="item"
          
          @click="() => selectAnnouncement(datum.id)">
        <time v-if="datum.date">{{ datum.date }} - </time> 
        <span>{{ datum.text }}</span> 
        <router-link to="/">
          {{ __("read more...") }}
        </router-link>
      </li>
    </ul>
    <p-vue-fieldset v-if="announcements.content.length"
    
                    :toggleable="true"
                    :collapsed="collapsed"
                    
                    :class="{
                      'fieldset': true,
                      'fieldset--collapsed': collapsed,
                    }"
                    
                    @toggle="() => collapsed = !collapsed">
      <template #legend>
        <i-icon name="arrow"
                class="toggle"
              />
      </template>
      <ul class="list">
        <li v-for="(datum, index) in announcements.content"
            
            :key="index"
            
            class="item"
            
            @click="() => selectAnnouncement(datum.id)">
          <time v-if="datum.date">{{ datum.date }} - </time>
          <span>{{ datum.text }}</span> 
          <router-link to="/">
            {{ __("read more...") }}
          </router-link>
        </li>
      </ul>
    </p-vue-fieldset>
  </div>
</template>

<script>

import { ref, computed } from 'vue'

import { useStore } from 'vuex'

export default {
  props: {
    modelValue: [Number, String],
  },
  setup(props, { emit }) {

    const $store = useStore()

    const collapsed = ref(true)

    const announcements = computed(() => {
      let data = $store.getters['announcements/getItemsBy']({
        buildingId: $store.getters.getBuilding,
      }, false)

      return {
        content: data.slice(1),
        heading: data.slice(0, 1),
      }
    })

    const selectAnnouncement = item => {
      emit('update:modelValue', item)
    }

    return {
      collapsed,
      announcements,

      selectAnnouncement,
    }
  }
}

</script>

<style scoped>

  .announcements {
    position: relative;

    padding-bottom: 10px;
  }

  .toggle {
    width: 12px;
    height: 12px;

    transform: rotate(180deg);
    
    color: var(--color-success);

    transition: transform .3s;
  }

  .fieldset--collapsed .toggle {
    transform: rotate(0)
  }

  .p-fieldset {
    padding: 0;

    border: none;
    border-radius: 0;
  }

  :deep .p-fieldset-content {
    padding: 0;
  }

  :deep .p-fieldset-legend {
    border: none;
    border-radius: 0;
    background-color: transparent !important;

    left: 50%;
    bottom: 0;
    z-index: 2;
    position: absolute;
    transform: translate(-50%);

    width: 20px;
    height: 20px;
  }
  
  :deep .p-fieldset.p-fieldset-toggleable .p-fieldset-legend a {
    padding: 0;
  }

  :deep .p-fieldset.p-fieldset-toggleable .p-fieldset-legend > a {
    height: 100%;
    align-items: center;
    justify-content: center;

    outline: none !important;
    box-shadow: none !important;
  }

  :deep .p-fieldset.p-fieldset-toggleable .p-fieldset-legend > a > span {
    display: none;
  }

  .list {
    margin: 0;
    padding: 0;

    list-style: none;
  }

  .item {
    flex: 0 0 100%;

    display: block;

    margin-bottom: 15px;

    color: black;
    font-size: 14px;
    font-weight: normal;

    cursor: pointer;
  }

  .item a {
    display: inline-block;

    margin-right: 5px;
    
    vertical-align: text-bottom;
    
    text-decoration: underline;
    color: var(--color-success) !important;
  }

</style>