<template>
  <div class="dashboard-block-wrapper">
    <div class="dashboard-block-content">
      <ul>
        <li v-for="(item, index) in items"
            
            :key="index">
          <span>{{ item.count }}</span>
          <span>{{ __(item.label) }}</span>
        </li>
      </ul>
    </div>
    <p-vue-button class="block-button p-button-success p-button-rounded p-button-outlined p-button-bold"
                  
                  @click="$router.push({ name: 'AllServices' })">
      <span class="block-button-text">{{ __("Open reading") }}</span>
    </p-vue-button>
  </div>
</template>

<script>

import { ref, computed } from 'vue'

import { useStore } from 'vuex'

export default {
  setup() {
    const $store = useStore()

    const listModal = ref(false)

    const labels = $store.getters.getServiceCallsLabels
    const items = computed(() => {
      let data = [];

      labels.forEach((label, index) => {
        data.push({
          label,
          count: (() => {
            let search = $store.getters.getServiceCallsBy({
                  status: index,
                  buildingId: $store.getters.getBuilding,
                })
                
            return search ? search.length ? search.length : 1 : 0
          })() 
        })
      })

      return data
    })

    return {
      items,
      listModal,
    }
  }
}

</script>

<style scoped>

  .dashboard-block-content ul {
    gap: 25px;
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-start;

    margin: 0;
    padding: 0;

    list-style: none;
  }
  
  .dashboard-block-content ul li {
    gap: 10px;
    display: grid;

    text-align: center;
  }

  .dashboard-block-content ul li span:first-child {
    font-size: 18px;
    letter-spacing: 0.56px;
  }

</style>