<template>
  <div class="wrapper">
    <header class="header">
      <a  href="#"
          class="close"

          @click.prevent="close">
        <i-icon name="cancel" />
      </a>
      <h3 class="heading">{{ __("Filters for a list of apartments") }}</h3>
    </header>
    <main class="main">
      <i-override-dropdown v-for="(item, index) of items"
                      
                      :key="index"
                      :showClear="true"
                      :options="item.options"
                      :optionLabel="item.optionLabel"
                      :placeholder="item.placeholder"

                      v-model="item.selected"></i-override-dropdown>
    </main>
    <div class="actions p-fluid">
      <p-vue-button class="p-button p-button-outlined p-button-rounded p-button-success">
        <span class="p-button-text">{{ __("Filter") }}</span>
      </p-vue-button>
    </div>
  </div>
</template>

<script>

import { reactive } from 'vue'

import { __ } from '@/plugins/i18n/'

export default {
  props: {
    close: {
      type: Function,
      default: () => false,
    }
  },
  setup() {

    const items = reactive({
      entrance: {
        selected: null,
        optionLabel: "label",
        placeholder: `${__("Entrance")}:`,
        options: [
          { value: "A", label: __("A") },
          { value: "B", label: __("B") },
          { value: "C", label: __("C") },
        ],
      },
      apartment: {
        selected: null,
        placeholder: `${__("Apartment")}:`,
        options: [1, 2, 3, 4, 5, 6],
      },
      thereIsAdebt: {
        selected: null,
        optionLabel: "label",
        placeholder: `${__("There is a debt")}:`,
        options: [
          {value: false, label: __("No") },
          {value: true, label: __("Yes") },
        ],
      }
    })

    return {
      items,
    }
  }
}
</script>

<style scoped>

  .wrapper {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    max-height: 100vh;
  }

  .header {
    top: 0;
    z-index: 2;
    position: sticky;
    position: -webkit-sticky;

    background-color: white;

    padding: 20px;
  }

  .close {
    position: absolute;
    left: calc(100% + 30px);

    color: white;
  }

  .close .svg {
    width: 21px;
    height: 21px;
  }

  .heading {
    margin: 0;

    line-height: 1;
    font-size: 26px;
    font-weight: normal;
    color: var(--color-primary);
  }

  .main {
    flex: 1;

    display: flex;
    flex-direction: column;

    padding: 0 20px 20px;

    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  .main:deep .p-dropdown:not(:last-child) {
    margin-bottom: 20px;
  }

  .actions {
    padding: 20px;
  }

</style>