<template>
  <div class="filter">
    <div>
      <i-customized-calendar  v-model="dateFrom"
                              :placeholder="__('M-')"
                            />
    </div>
    <i-customized-calendar  v-model="dateUntil"
                            :placeholder="__('Until-')"
                          />
    <a  href="#"
        @click.prevent="search">
      <i-icon name="search" />
    </a>
  </div>
  <p-vue-table  :value="data"
                
                dataKey="id"
                :rowClass="rowClass"
                v-model:expandedRows="expandedRows"

                class="p-no-thead"
                responsiveLayout="scroll">
    <p-vue-column field="id" />
    <p-vue-column field="date" />
    <p-vue-column field="service" />
    <p-vue-column field="amount">
      <template #body="{ data }">
        {{ __u_value__({ unit: 'P-NIS', value: data.amount }) }}
      </template>
    </p-vue-column>
    <p-vue-column :expander="true" class="cell--arrow">
      <template #body="{ data }">
        <a  href="#"
            :class="{
              expander: true,
            }"

            @click.prevent="() => toogleRow(data)">
          <i-icon name="arrow" />
        </a>
      </template>
    </p-vue-column>
    <template #expansion="{ data }">
      <div class="field">
        <label>{{ __("Description") }}</label>
        <span>{{ data.description }}</span>
      </div>
      <div class="grid">
        <div class="field">
          <label>{{ __("Invoicing") }}</label>
          <a :href="invoicingUrl(data.id, data.invoicing)">{{ data.invoicing }}</a>
        </div>
        <div class="field">
          <label>{{ __("Methods of payment") }}</label>
          <a :href="paymentUrl(data.id, data.methodsOfPayment)">{{ __(data.methodsOfPayment) }}</a>
        </div>
        <div class="field">
          <label>{{ __("Her reference") }}</label>
          <span>{{ data.herReference }}</span>
        </div>
        <div class="field">
          <label>{{ __("Date of payment") }}</label>
          <span>{{ data.dateOfPayment }}</span>
        </div>
        <div class="field">
          <label>{{ __("Due date") }}</label>
          <span>{{ data.dueDate }}</span>
        </div>
      </div>
    </template>
  </p-vue-table>
  <i-override-dialog  :modal="true"
                      :dismissableMask="true"
                      :close="() => newModal = false"
                      :title="__('Expenditure Report')"
                      :style="{
                        width: '100%',
                        maxWidth: 'calc(100vw - 40px)',
                        maxHeight: 'calc(100vh - 20px)',
                      }"
                      
                      v-model:visible="newModal">
    <local-new />
  </i-override-dialog>
  <i-plus-button @click="newModal = true" />
</template>

<script>

import { ref } from 'vue'

import __preview from '@/preview/'

import LocalNew from './new'

export default {
  components: {
    LocalNew,
  },
  setup() {
    const data = __preview('recording-expenses')

    const dateFrom = ref(null)
    const dateUntil = ref(null)
    const newModal = ref(false)
    const expandedRows = ref([])

    const search = () => null

    const toogleRow = item => {
      for (let i = 0; i < expandedRows.value.length; i ++) {
        if (expandedRows.value[i].id == item.id) {
          expandedRows.value.splice(i, 1)
          return expandedRows.value = [...expandedRows.value]
        }
      }

      expandedRows.value = [...expandedRows.value, item]
    }

    const rowClass = item => expandedRows.value.filter(datum => datum.id === item.id).length ? 'expended' : ''

    const paymentUrl = () => null
    const invoicingUrl = () => null

    return {
      data,
      newModal,
      dateFrom,
      dateUntil,
      expandedRows,


      search,
      rowClass,
      toogleRow,
      paymentUrl,
      invoicingUrl,
    }
  }
}
</script>

<style scoped>

  .filter {
    gap: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 22px;

    padding: 10px 15px 5px;

    background-color: var(--color-primary);
  }

  .filter > div:first-child {
    padding-left: 10px;
  }

  .filter:deep .svg--search {
    width: 22px;
    height: 22px;
  }

  .filter:deep .svg {
    color: white;
  }

  .filter:deep .p-calendar .p-inputtext {
    color: white;
  }

  .filter:deep .placeholder {
    color: white;
    font-size: 16px;
    text-align: left;
    font-style: italic;
    font-weight: normal;
    letter-spacing: 0.51px;
  }

  .grid {
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(3, auto);

    margin-top: 15px;
  }

  .field {
    display: flex;
    flex-direction: column;

    font-size: 14px;
    font-weight: normal;
    letter-spacing: normal;
  }

  .field label {
    line-height: 1;
    margin-bottom: 8px;

    color: var(--color-primary);
  }
  
  .field a {
    text-decoration: underline;
    color: var(--color-success-active);
  }

  :deep .cell--arrow {
    width: 45px;
  }

</style>