<template>
  <div class="p-fluid">
    <div class="p-field">
      <label>{{ __("Name of supplier") }}</label>
      <i-override-dropdown class="p-inputtext--alt" v-model="form.name.$value" />
      <i-form-error :data="form.name.$errors" />
    </div>
    <div class="p-field">
      <label>{{ __("Sum") }}</label>
      <p-vue-input-text class="p-inputtext--alt" v-model="form.sum.$value" />
      <i-form-error :data="form.sum.$errors" />
    </div>
    <div class="p-field">
      <label>{{ __("Description") }}</label>
      <p-vue-textarea class="p-inputtext--alt"
                      :autoResize="true"
                      :rows="4" v-model="form.description.$value"
                    />
      <i-form-error :data="form.description.$errors" />
    </div>
    <div class="p-grid">
      <div class="p-col-6 p-field">
        <label>{{ __("Invoice date") }}</label>
        <i-customized-calendar :boxed="true" class="p-inputtext--alt" v-model="form.invoiceDate.$value" />
        <i-form-error :data="form.invoiceDate.$errors" />
      </div>
      <div class="p-col-6 p-field">
        <label>{{ __("Invoice taxes") }}</label>
        <p-vue-input-text class="p-inputtext--alt" v-model="form.invoiceTaxes.$value" />
        <i-form-error :data="form.invoiceTaxes.$errors" />
      </div>
    </div>
    <div class="p-field">
      <p-vue-file-upload  mode="basic"
                          accept="image/*"
                          class="upload-button"
                          
                          :fileLimit="3"
                          :multiple="true"
                          :customUpload="true"
                          :maxFileSize="1000000"
                          :chooseLabel="__('Attach an invoice')"

                          :invalidFileLimitMessage="__('Maximum number of files exceeded, limit is {0} at most.')"
                          :invalidFileSizeMessage="__('{0}: Invalid file size, file size should be smaller than {1}.')"
                          
                          v-model="form.invoiceAttachements1.$value"
                        />
      <i-form-error :data="form.invoiceAttachements1.$errors" />
    </div>
    <div class="p-grid">
      <div class="p-col-6 p-field">
        <label>{{ __("Methods of payment") }}</label>
        <i-override-dropdown class="p-inputtext--alt" v-model="form.paymentMethods.$value" :options="paymentMethods" />
        <i-form-error :data="form.paymentMethods.$errors" />
      </div>
      <div class="p-col-6 p-field">
        <label>{{ __("Date of payment") }}</label>
        <p-vue-calendar class="p-inputtext--alt" v-model="form.paymentDate.$value" />
        <i-form-error :data="form.paymentDate.$errors" />
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-6 p-field">
        <label>{{ __("Due date") }}</label>
        <p-vue-input-text class="p-inputtext--alt" v-model="form.dueDate.$value" />
        <i-form-error :data="form.dueDate.$errors" />
      </div>
      <div class="p-col-6 p-field">
        <label>{{ __("Reference number") }}</label>
        <p-vue-input-text class="p-inputtext--alt" v-model="form.referenceNumber.$value" />
        <i-form-error :data="form.referenceNumber.$errors" />
      </div>
    </div>
    <div class="p-field">
      <p-vue-file-upload mode="basic"
                    accept="image/*"
                    class="upload-button"
                    
                    :fileLimit="3"
                    :multiple="true"
                    :customUpload="true"
                    :maxFileSize="1000000"
                    :chooseLabel="__('Attach an invoice')"

                    :invalidFileLimitMessage="__('Maximum number of files exceeded, limit is {0} at most.')"
                    :invalidFileSizeMessage="__('{0}: Invalid file size, file size should be smaller than {1}.')"
                    
                    v-model="form.invoiceAttachements2.$value"
                  />
      <i-form-error :data="form.invoiceAttachements2.$errors" />
    </div>
    <div class="p-field p-field--submit">
      <p-vue-button class="p-button-success p-button-rounded p-jc-center"
                    
                    @click="submit">
        {{ __("Add") }}
      </p-vue-button>
    </div>
  </div>
</template>

<script>

import { computed } from 'vue'
import { useStore } from 'vuex'

import { useValidation, ValidationError } from 'vue3-form-validation'

import { __ } from '@/plugins/i18n/'

export default {
  props: {
    close: Function,
  },
  setup(props) {
    const $store = useStore()

    const { form, errors, validateFields, resetFields } = useValidation({
      name: {
        $value: computed({
          get: () => $store.getters['expenditureReport/getName'],
          set: value => $store.commit('expenditureReport/setName', value),
        }),
        $rules: [
          value => !value && "Name is required",
        ],
      },
      sum: {
        $value: computed({
          get: () => $store.getters['expenditureReport/getSum'],
          set: value => $store.commit('expenditureReport/setSum', value),
        }),
        $rules: [
          value => !value && "Required field",
        ],
      },
      description: {
        $value: computed({
          get: () => $store.getters['expenditureReport/getDescription'],
          set: value => $store.commit('expenditureReport/setDescription', value),
        }),
        $rules: [
          value => !value && "Description is required",
          value => value.length < 10 && "The description must be at least 10 characters long.",
        ],
      },
      invoiceDate: {
        $value: computed({
          get: () => $store.getters['expenditureReport/getInvoiceDate'],
          set: value => $store.commit('expenditureReport/setInvoiceDate', value),
        }),
        $rules: [
          value => !value && "Required field",
        ],
      },
      invoiceTaxes: {
        $value: computed({
          get: () => $store.getters['expenditureReport/getInvoiceTaxes'],
          set: value => $store.commit('expenditureReport/setInvoiceTaxes', value),
        }),
        $rules: [
          value => !value && "Required field",
        ],
      },
      invoiceAttachements1: {
        $value: computed({
          get: () => $store.getters['expenditureReport/getInvoiceAttachements1'],
          set: value => $store.commit('expenditureReport/setInvoiceAttachements1', value),
        }),
        $rules: [
          value => !value && "Required field",
        ],
      },
      invoiceAttachements2: {
        $value: computed({
          get: () => $store.getters['expenditureReport/getInvoiceAttachements2'],
          set: value => $store.commit('expenditureReport/setInvoiceAttachements2', value),
        }),
        $rules: [
          value => !value && "Required field",
        ],
      },
      paymentMethods: {
        $value: computed({
          get: () => $store.getters['expenditureReport/getPaymentMethods'],
          set: value => $store.commit('expenditureReport/setPaymentMethods', value),
        }),
        $rules: [
          value => !value && "Required field",
        ],
      },
      paymentDate: {
        $value: computed({
          get: () => $store.getters['expenditureReport/getPaymentDate'],
          set: value => $store.commit('expenditureReport/setPaymentDate', value),
        }),
        $rules: [
          value => !value && "Required field",
        ],
      },
      dueDate: {
        $value: computed({
          get: () => $store.getters['expenditureReport/getDueDate'],
          set: value => $store.commit('expenditureReport/setDueDate', value),
        }),
        $rules: [
          value => !value && "Required field",
        ],
      },
      referenceNumber: {
        $value: computed({
          get: () => $store.getters['expenditureReport/getReferenceNumber'],
          set: value => $store.commit('expenditureReport/setReferenceNumber', value),
        }),
        $rules: [
          value => !value && "Required field",
        ],
      },
    })

    const submit = async () => {
      try {
        await validateFields()

        if (errors.length) return
      
        $store.dispatch('doLoading', true)

        $store.dispatch('expenditureReport/doSave')
          .then(response => {
            if (response.success) {
              if (typeof props.close === 'function')
                props.close()

              $store.dispatch('doLoading', false)

              resetFields()
            }
          })
      } catch (err) {
        if (!(err instanceof ValidationError))
          console.error(err)
      }

    }

    const clearAttachments = () => {

    }
    
    const selectAttachment = () => {

    }

    const paymentMethods = [
      __("Cache"),
      __("Credit card"),
      __("Online payment"),
    ]

    return {
      form,
      paymentMethods,

      submit,
      clearAttachments,
      selectAttachment,
    }
  }  
}

</script>

<style scoped>

  .upload-button:deep .p-button {
    display: block;

    width: 100%;

    padding: 13px 15px;

    border-radius: 30px;
    background-color: white;
    border: 1px solid var(--color-success-hover);

    color: black;
    font-size: 16px;
    line-height: 1.28;
    letter-spacing: 0.51px;
  }
  
  :deep .p-dropdown .p-dropdown-label {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .p-field--submit {
    margin-top: 20px;
    padding-top: 20px;

    border-top: 1px solid var(--color-border);
  }

</style>