<template>
  <div class="services___content">
    <i-liner-heading tag="h2">{{ __("Select a domain") }}</i-liner-heading>
    <div class="services">
      <router-link  v-for="service in services"
                    
                    :key="service.icon"
                    :to="{
                      name: 'OpenServiceCall',
                      params: { 
                        service: service.icon
                      }
                    }"
                    
                    class="service">
        <i-icon :name="service.icon" />
        <span>{{ service.label }}</span>
      </router-link>
    </div>
  </div>
</template>

<script>

import __preview from '@/preview/'

export default {
  setup() {

    return {
      services: __preview('services')
    }
  }
}

</script>

<style scoped>

  .services {
    display: grid;
    gap: 20px 35px;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 75px);

    padding-bottom: 20px;  
  }

  .service {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

    line-height: 1.13;
    text-decoration: none;
  }

  .service span {
    margin-top: 8px;
    text-align: center;

    color: black;
    font-size: 16px;
  }

  .services:deep .svg {
    color: var(--color-primary);
  }

</style>