<template>
  <foster-item  v-if="$route.params.service"
                
                :data="{ service: $store.getters['services/getService']($route.params.service).icon }"
              />
  <div class="report">
    <span>{{ __("There are {0} open readings in this area", [openReadings]) }}</span>
    <p-vue-button class="p-button-success p-button-rounded p-button-outlined p-button-sm"
                  
                  @click="listModal = true">
      <span class="p-button-text">{{ __("View") }}</span>
    </p-vue-button>
  </div>
  <div class="open-service-call">
    <div class="content">
      <div class="p-fluid">
        <div class="p-field">
          <label for="description">{{ __("Description") }}</label>
          <p-vue-textarea id="description"
                          
                          rows="6"
                          class="p-inputtext--alt no-radius"
                          
                          :autoResize="true"
                          
                          v-model="form.description.$value"
                        />
          <i-form-error :data="form.description.$errors" />
        </div>
        <div class="p-field">
          <label for="fullName">{{ __("Full name") }}</label>
          <p-vue-input-text type="text"
                            id="fullName"
                            class="p-inputtext--alt no-radius"

                            v-model="form.fullName.$value"
                          />
          <i-form-error :data="form.fullName.$errors" />
        </div>
        <div class="p-field">
          <label for="phoneNumber">{{ __("Phone number") }}</label>
          <i-input-phone  type="text"
                          id="phoneNumber"
                          class="p-inputtext--alt no-radius"

                          v-model="form.phoneNumber.$value"
                        />
          <i-form-error :data="form.phoneNumber.$errors" />
        </div>
      </div>
      <p-vue-file-upload  url="./"
                          accept="image/*"
                          class="upload-button"
                          
                          :multiple="true"
                          :customUpload="true"
                          :showCancelButton="false"
                          :showUploadButton="false"
                          :chooseLabel="__('Add an image')"

                          :invalidFileLimitMessage="__('Maximum number of files exceeded, limit is {0} at most.')"
                          :invalidFileSizeMessage="__('{0}: Invalid file size, file size should be smaller than {1}.')"

                          v-model="form.attachments.$value"

                          @clear="clearAttachments"
                          @select="selectAttachment"
                        />
      <div class="upload-preview">
        <ul>
          <li  v-for="(file, index) in form.attachments.$value"
          
                :key="index">
            <img :src="file.objectURL" />
            <p-vue-button class="p-button-danger p-button-sm p-button-rounded"
                
                @click.prevent="$store.dispatch('call/doTrashAttachment', index)">
              <i-icon name="trash" />
            </p-vue-button>
          </li>
        </ul>
      </div>
      <p class="hint">
        <span>{{ __("Note that") }}:</span>
        <br />
        <span>{{ __("For urgent calls contact") }} {{ urgantPhoneNumber }}</span>
      </p>
      <p-vue-button :class="{
                      'submit': true,
                      'p-button': true,
                      'p-button-lg': true,
                      'p-button-success': true,
                      'p-button-rounded': true,
                    }"
                    
                    @click="submit">
        {{ __("Send") }}
      </p-vue-button>
    </div>
  </div>
  <s-success-modal v-if="successModal" :message="__('Report sent successfully!')" />
  <i-override-dialog  rtl
                      modal
                      dismissableMask
                      
                      v-model:visible="listModal"

                      id="services-list-modal"
                      :title="__('Previous readings on the subject')"
                      :style="{
                        maxHeight: '100%',
                      }">
    <s-list-modal />
  </i-override-dialog>
</template>

<script>

import { ref, computed } from 'vue'

import { useStore } from 'vuex'
import { useRouter } from 'vue-router'
import { useValidation, ValidationError } from 'vue3-form-validation'

import FosterItem from '../v-maintenance-and-facilities/item'
import SListModal from '@/components/partials/service-call/list'
import SSuccessModal from '@/components/partials/service-call/success'

export default {
  components: {
    FosterItem,
    SListModal,
    SSuccessModal,
  },
  setup() {
    const $store = useStore()
    const $router = useRouter()

    const successModal = ref(false)

    const { form, errors, validateFields, resetFields } = useValidation({
      description: {
        $value: computed({
          get: () => $store.getters['call/getDescription'],
          set: value => $store.commit('call/setDescription', value),
        }),
        $rules: [
          val => !val && "Description is required",
          val => val.length <= 10 && "The description must be at least 10 characters long.",
        ],
      },
      fullName: {
        $value: computed({
          get: () => $store.getters['call/getFullName'],
          set: value => $store.commit('call/setFullName', value),
        }),
        $rules: [
          val => !val && "Full name is required",
        ],
      },
      phoneNumber: {
        $value: computed({
          get: () => $store.getters['call/getPhoneNumber'],
          set: value => {
            if (/^\d+$/.test(value) || !value)
              $store.commit('call/setPhoneNumber', value)
          },
        }),
        $rules: [
          val => !(/[0-9]{8,9}$/.test(val)) && "Invalid phone number",
        ],
      },
      attachments: {
        $value: computed({
          get: () => $store.getters['call/getAttachments'],
          set: event => $store.commit('call/setAttachments', event.files),
        }),
      }
    })

    const submit = async () => {
      try {
        await validateFields()

        $store.dispatch('doLoading', true)
        
        if (!errors.length) {
          $store.dispatch('call/doSave')
            .then(response => {
              if (response.success) {
                successModal.value = true
                $store.dispatch('doLoading', false)
                setTimeout(() => {
                  successModal.value = false

                  $router.push({
                    name: 'ServiceCalls',
                    params: {
                      tab: 'for-treatment'
                    }
                  })
                }, 2000)

                resetFields()
              }
            })
        }
      } catch(err) {
        if (!(err instanceof ValidationError))
          console.error(err)
      }
      
    }

    const selectAttachment = event => {
      $store.commit('call/setAttachments', event.files)

      console.log(event.files)
    }

    const clearAttachments = () => {
      $store.commit('call/setAttachments', [])
    }

    return {
      openReadings: 3,
      listModal: ref(false),
      urgantPhoneNumber: "039605656",
      
      form,
      errors,
      successModal,

      submit,
      selectAttachment,
      clearAttachments,
    }
  }
}

</script>

<style scoped>

  .content {
    width: 100%;
    max-width: 576px;

    margin-left: auto;
    margin-right: auto;
  }

  .report {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;

    padding: 6px 15px;

    border-bottom: 1px solid var(--color-border-alt);

    font-size: 16px;
  }

  .report:deep .p-button {
    padding: 0px 15px;
  }

  .report:deep .p-button-text {
    font-size: 16px;
  }

  .open-service-call {
    padding: 20px 15px 15px;
  }

  .submit {
    display: block;

    width: 100%;

    font-weight: bold;
  }

  .hint {
    margin: 25px 0;

    color: black;
    font-size: 14px;
    line-height: 1.46;
    text-align: center;
    letter-spacing: 0.45px;
  }

  .upload-button {
    margin-top: 25px;
  }

  .upload-button:deep .p-button {
    display: block;

    width: 100%;

    margin: 0;
    padding: 13px 15px;

    border-radius: 30px;
    background-color: white;
    border: 1px solid var(--color-success);

    color: black;
    font-size: 16px;
    line-height: 1.28;
    letter-spacing: 0.51px;
  }

  .upload-preview ul {
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

    margin: 0;
    padding: 15px 0 0 0;

    list-style: none;
  }
  
  .upload-preview ul li {
    position: relative;
  }

  .upload-preview ul li img {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }

  .upload-preview ul li:deep .svg {
    width: 15px;
    height: 15px;
  }

  .upload-preview ul li:deep .p-button {
    top: -5px;
    left: -5px;
    z-index: 2;
    position: absolute;


    padding: 3px;
  }

</style>