<template>
  <div class="data" v-if="data.id">
    <div class="block block--grid">
      <div>
        <h4 class="block__heading">{{ __("Date please") }}</h4>
        <span>{{ data.date }}</span>
      </div>
      <div>
        <h4 class="block__heading">{{ __("Date of bidding") }}</h4>
        <span>{{ data.dateBidding }}</span>
      </div>
      <div>
        <h4 class="block__heading">{{ __("Name of supplier") }}</h4>
        <span>{{ data.name }}</span>
      </div>
      <div>
        <h4 class="block__heading">{{ __("Carrier phone") }}</h4>
        <a :href="`tel:${data.phone}`">{{ data.phone }}</a>
      </div>
    </div>
    <div class="block block--vertical">
      <div>
        <h4 class="block__heading">{{ __("Supplier mail") }}</h4>
        <a :href="`mailto:${data.mail}`">
          {{ data.mail }}
        </a>
      </div>
      <div>
        <h4 class="block__heading">{{ __("The amount of the offer") }}</h4>
        <span>{{ __u_value__({value: data.amount, unit: "P-NIS"}) }}</span>
      </div>
    </div>
    <div class="block">
      <h4 class="block__heading">{{ __("Vendor notes") }}</h4>
      <p>{{ data.description }}</p>
    </div>
    <div class="block">
      <h4 class="block__heading">{{ __("Attached documents") }}</h4>
      <ul v-if="data.attachments"
          
          class="attachments">
        <li v-for="(attachment, index) of data.attachments"
            
            :key="index">
          <span>{{ attachment.name }}</span>
          <a  target="_blank"
              :href="attachment.url">
            <i-icon name="eye" />
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="actions">
    <p-vue-button class="p-button-rounded p-button-success p-button-lg p-jc-center">
      {{ __("Than the proposal") }}
    </p-vue-button>
    <p-vue-button class="p-button-rounded p-button-danger p-button-lg p-jc-center">
      {{ __("Deny") }}
    </p-vue-button>
  </div>
</template>

<script>

import { computed, onBeforeMount  } from 'vue'

import { useStore } from 'vuex'
import { useRoute } from 'vue-router'

export default {
  setup() {
    const $route = useRoute()
    const $store = useStore()

    const data = computed(() => $store.getters['offer/getData'])
    
    onBeforeMount(() => {
      $store.dispatch('offer/doFetch', $route.params)
    })

    return {
      data,
    }
  }  
}

</script>

<style scoped>

  .data {
    flex: 1;
  }

  .block {
    padding: 15px 15px 0;

    color: black;
    font-size: 14px;
  }

  .block p {
    margin: 0;
  }

  .block__heading {
    margin: 0 0 5px 0;

    line-height: 1;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: normal;
    color: var(--color-primary);
  }

  .block--grid {
    gap: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .block--vertical {
    gap: 15px;
    display: grid;
    grid-template-columns: 1fr;
  }

  .block a {
    color: var(--color-success-active);
  }

  .attachments {
    margin: 0;
    padding: 0;

    border-top: 1px solid var(--color-border-alt);
    
    list-style: none;
  }

  .attachments li {
    gap: 15px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 25px;

    padding: 10px 0;

    border-bottom: 1px solid var(--color-border-alt);
  }

  .attachments:deep li .svg {
    width: 25px;
    height: 25px;

    color: var(--color-success-hover);
  }

  .actions {
    bottom: 0;
    z-index: 2;
    position: sticky;
    position: -webkit-sticky;

    gap: 2px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    padding: 15px;

    background-color: white;
  }

  .actions .p-button:first-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .actions .p-button:last-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

</style>