<template>
  <router-link  v-for="item in data"
                
                :key="item.id"
                :to="{
                  name: 'Offer',
                  params: {
                    id: item.id
                  }
                }"
                
                class="offer">
    <span>{{ item.date }}</span>
    <span>{{ item.domain }}</span>
    <span>{{ item.description }}</span>
    <i-icon name="arrow" />
  </router-link>
  <i-override-dialog  v-model:visible="newModal"
                      
                      :modal="true"
                      :dismissableMask="true"
                      :title="__('Request for a new quote')"
                      
                      
                      :style="{
                        width: '100%',
                        maxWidth: 'calc(100vw - 40px)',
                        maxHeight: 'calc(100vh - 30px)',
                      }">
    <local-new :close="() => newModal = false" />
  </i-override-dialog>

  <i-plus-button @click="newModal = true" />
</template>

<script>

import { ref, onBeforeMount, computed } from 'vue'

import { useStore } from 'vuex'

import LocalNew from './new'

export default {
  components: {
    LocalNew,
  },
  setup() {
    const $store = useStore()

    onBeforeMount(() => {
      $store.dispatch('offers/doFetch')
    })

    const data = computed(() => $store.getters['offers/getItems'])

    const newModal = ref(false)

    return {
      data,
      newModal,
    }
  }
}
</script>

<style scoped>

  .offer {
    gap: 15px;
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1.5fr 15px;

    padding: 15px;

    border-bottom: 1px solid var(--color-border-alt);

    color: black;
    font-size: 14px;
    text-decoration: none;
  }
  
  .offer > span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .offer:deep .svg {
    width: 15px;
    height: 15px;

    transform: rotate(90deg);

    color: var(--color-success);
  }

</style>