<template>
  <div class="p-fluid">
    <div class="p-field">
      <label>{{ __("Maintenance area") }}</label>
      <i-override-dropdown  :placeholder="__('Domain selection')"
                            :options="[__('Israelift'), __('IEC')]"

                            v-model="form.domain.$value"

                            class="p-inputtext--alt"
                          />
      <i-form-error :data="form.domain.$errors" />
    </div>
  </div>
  <div class="p-fluid">
    <div class="p-field">
      <label>{{ __("Description of the application") }}</label>
      <p-vue-textarea :autoResize="true"
                      
                      rows="4"
                      class="p-inputtext--alt"

                      v-model="form.description.$value"
                    />
      <i-form-error :data="form.description.$errors" />
    </div>
  </div>
  <div class="group">
    <label>{{ __("Contact details for coordination and questions") }}</label>
    <div class="group__fields">
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-6">
          <label>{{ __("Name") }}</label>
          <p-vue-input-text class="p-inputtext--alt" v-model="form.name.$value" />
          <i-form-error :data="form.name.$errors" />
        </div>
        <div class="p-field p-col-6">
          <label>{{ __("Phone") }}</label>
          <p-vue-input-number :useGrouping="false" class="p-inputtext--alt" v-model="form.phone.$value" />
          <i-form-error :data="form.phone.$errors" />
        </div>
        <div class="p-field p-col-12">
          <label>{{ __("Mail") }}</label>
          <p-vue-input-text type="email" class="p-inputtext--alt" v-model="form.mail.$value" />
          <i-form-error :data="form.mail.$errors" />
        </div>
      </div>
    </div>
  </div>
  <div class="p-fluid">
    <div class="p-field">
      <label>{{ __("Add photos") }}</label>
      <p-vue-file-upload  mode="basic"
                          accept="image/*"
                          class="upload-button"
                          
                          :fileLimit="3"
                          :multiple="true"
                          :customUpload="true"
                          :maxFileSize="1000000"
                          :chooseLabel="__('Select')"

                          :invalidFileLimitMessage="__('Maximum number of files exceeded, limit is {0} at most.')"
                          :invalidFileSizeMessage="__('{0}: Invalid file size, file size should be smaller than {1}.')"

                          v-model="form.attachments.$value"

                          @clear="clearAttachments"
                          @select="selectAttachment">
        {{ __("Select") }}
      </p-vue-file-upload>
      <i-form-error :data="form.attachments.$errors" />
    </div>
  </div>
  <div class="buttons p-fluid p-grid">
    <div class="p-col-6 p-pl-0">
      <p-vue-button class="p-button-success p-button-rounded p-jc-center"
                    
                    @click="submit">
        {{ __("Send") }}
      </p-vue-button>
    </div>
    <div class="p-col-6 p-pr-0">
      <p-vue-button class="p-button-success p-button-rounded p-jc-center"
                    
                    @click="close">
        {{ __("Void") }}
      </p-vue-button>
    </div>
  </div>
</template>

<script>

import { computed } from 'vue'
import { useStore } from 'vuex'

import { useValidation, ValidationError } from 'vue3-form-validation'

export default {
  props: {
    close: {
      type: Function,
      default: () => null,
    }
  },
  setup(props) {

    const $store = useStore()
    
    const { form, errors, validateFields, resetFields } = useValidation({
      domain: {
        $value: computed({
          get: () => $store.getters['newOffer/getDomain'],
          set: value => $store.commit('newOffer/setDomain', value),
        }),
        $rules: [
          value => !value && "Domain is required",
        ],
      },
      description: {
        $value: computed({
          get: () => $store.getters['newOffer/getDescription'],
          set: value => $store.commit('newOffer/setDescription', value),
        }),
        $rules: [
          value => !value && "Description is required",
          value => value.length < 10 && "The description must be at least 10 characters long.",
        ],
      },
      name: {
        $value: computed({
          get: () => $store.getters['newOffer/getName'],
          set: value => $store.commit('newOffer/setName', value),
        }),
        $rules: [
          value => !value && "Name is required",
        ],
      },
      phone: {
        $value: computed({
          get: () => $store.getters['newOffer/getPhone'],
          set: value => $store.commit('newOffer/setPhone', value),
        }),
        $rules: [
          value => !value && "Phone is required",
        ],
      },
      mail: {
        $value: computed({
          get: () => $store.getters['newOffer/getMail'],
          set: value => $store.commit('newOffer/setMail', value),
        }),
        $rules: [
          value => !value && "Mail is required",
        ],
      },
      attachments: {
        $value: computed({
          get: () => $store.getters['newOffer/getAttachments'],
          set: value => $store.commit('newOffer/setAttachments', value),
        }),
        $rules: [],
      },
    })

    const submit = async () => {
      try {
        await validateFields()

        if (errors.length) return
      
        $store.dispatch('doLoading', true)

        $store.dispatch('newOffer/doSave')
          .then(response => {
            if (response.success) {
              if (typeof props.close === 'function')
                props.close()

              $store.dispatch('doLoading', false)

              resetFields()
            }
          })
      } catch (err) {
        if (!(err instanceof ValidationError))
          console.error(err)
      }

    }

    const clearAttachments = () => {

    }
    
    const selectAttachment = () => {

    }

    return {
      form,

      submit,
      clearAttachments,
      selectAttachment,
    }
  }
}

</script>

<style scoped>

  :deep label {
    margin-bottom: 5px;

    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.51px;
    color: var(--color-primary);
  }

  .group {

  }
  
  .group__fields {

  }

  .group__fields:deep label {
    color: black;
    font-size: 14px;
    letter-spacing: 0.45px;
  }

  .p-field:deep .p-override-dropdown-value .value {
    font-size: 14px;
    letter-spacing: normal;
  }

  .buttons:deep > div:first-child .p-button {
    border-left: 1px solid white;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .buttons:deep > div:last-child .p-button {
    border-right: 1px solid white;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .upload-button:deep .p-button {
    display: block;

    width: 100%;

    padding: 13px 15px;

    border-radius: 30px;
    background-color: white;
    border: 1px solid var(--color-success-hover);

    color: black;
    font-size: 16px;
    line-height: 1.28;
    letter-spacing: 0.51px;
  }

</style>