<template>
  <local-item :data="data" />
  <p-vue-panel  :header="__('Responsible supplier details')"
                class="p-panel--block">
    <div class="grid">
      <div>
        <label>{{ __("Name") }}</label>
        <span>{{ data.responsibleSupplierDetails.name }}</span>
      </div>
      <div>
        <label>{{ __("Contact") }}</label>
        <span>{{ data.responsibleSupplierDetails.contact }}</span>
      </div>
      <div>
        <label>{{ __("Phone") }}</label>
        <a :href="`tel:${data.responsibleSupplierDetails.phone }`">{{ data.responsibleSupplierDetails.phone  }}</a>
      </div>
    </div>
    <div>
      <label>{{ __("Miles") }}</label>
      <a :href="`mailto:${data.responsibleSupplierDetails.mail}`">{{ data.responsibleSupplierDetails.mail }}</a>
    </div>
  </p-vue-panel>

  <p-vue-panel  :header="__('Maintenance plan')"
                class="p-panel--block">
    <div class="grid">
      <div>
        <label>{{ __("Start date") }}</label>
        <span>{{ data.maintenancePlan.startDate }}</span>
      </div>
      <div>
        <label>{{ __("Frequency") }}</label>
        <span>{{ data.maintenancePlan.frequency }}</span>
      </div>
      <div>
        <label>{{ __("Name of supplier") }}</label>
        <span>{{ data.maintenancePlan.nameOfSupplier }}</span>
      </div>
    </div>
    <div>
      <label>{{ __("Topic") }}</label>
      <span>{{ data.maintenancePlan.topic }}</span>
    </div>
  </p-vue-panel>

  <p-vue-panel  :header="__('Facility data')"
                class="p-panel--block">
    <div>{{ data.facilityData }}</div>
  </p-vue-panel>
  
  <p-vue-panel  v-for="(item, index) in data.recentServiceCalls"

                :key="index"
                :header="!index ? __('Recent service calls') : null"
                :class="{
                  'p-no-header': index,
                  'p-panel--block': true,
                }">
    <div class="grid">
      <div>
        <label>{{ __("Date") }}</label>
        <span>{{ item.date }}</span>
      </div>
      <div>
        <label>{{ __("Topic") }}</label>
        <span>{{ item.topic }}</span>
      </div>
      <div>
        <label>{{ __("Status") }}</label>
        <span>{{ item.status }}</span>
      </div>
      <div>
        <label>{{ __("Last update") }}</label>
        <span>{{ item.lastUpdate }}</span>
      </div>
      <div>
        <label>{{ __("Content of the update") }}</label>
        <span>{{ item.updatedContent }}</span>
      </div>
    </div>
    <div>
      <label>{{ __("Photos") }}</label>
      <i-attachments-list :data="item.photos" />
    </div>
  </p-vue-panel>
</template>

<script>

import { useRoute } from 'vue-router'

import __preview from '@/preview'
import { __f_data__ } from '@/includes/helper'

import LocalItem from './item'

export default {
  components: {
    LocalItem,
  },
  setup() {
    const $route = useRoute();

    return {
      data: __f_data__(__preview('maintenance-and-facilities'), $route.params)
    }
  }  
}

</script>

<style scoped>

  header:deep {
    gap: 15px;
    display: grid;
    align-items: center;
    grid-template-columns: 37px 1fr;

    padding: 10px 15px;

    border-bottom: 1px solid var(--color-border-alt);

    color: var(--color-primary);
  }

  header:deep .svg {
    width: 37px;
    height: 37px;

  }

  .service-name {
    margin: 0;

    font-size: 15.5px;
    font-weight: normal;
    letter-spacing: normal;
  }

  :deep .p-panel-header {
    padding: 20px 15px 15px;
  }

  .p-panel--block:deep .p-panel-content {
    display: flex;
    flex-direction: column;
  }
  .p-panel--block:deep.p-no-header .p-panel-content {
    padding-top: 20px;
  }

  .p-panel--block:deep .p-panel-content .grid {
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(3, auto);
  }

  .p-panel--block:deep .p-panel-content .grid > div,
  .p-panel--block:deep .p-panel-content .grid + * {
    display: flex;
    flex-direction: column;
    
    line-height: 1;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.45px;
  }

  .p-panel--block:deep .p-panel-content .grid + * {
    margin-top: 15px;
  }

  .p-panel--block:deep .p-panel-content {
    border-bottom-color: var(--color-border-alt);
  }

  .p-panel--block:deep .p-panel-content div label {
    margin-bottom: 5px;
    
    color: var(--color-primary);
  }

  :deep a {
    text-decoration: underline;
    color: var(--color-success-active);
  }

  .p-panel:deep .p-panel-header .p-panel-title {
    font-size: 14px;
    font-weight: bold;
    color: black;
  }

  .p-panel--block:deep:last-child .p-panel-content {
    border-bottom: none;
  }

</style>