<template>
  <router-link  v-for="(item, index) of data"

                :key="index"
                :to="{
                  name: 'MaintenanceAndFacilitiesDetail',
                  params: {
                    id: item.id
                  }
                }"
                
                class="router-link">
    <local-item :data="item" :arrow="true" />
  </router-link>
</template>

<script>

import __preview from '@/preview/'

import LocalItem from './item'

export default {
  components: {
    LocalItem,
  },
  setup() {
    return {
      data: __preview('maintenance-and-facilities'),
    }
  }  
}

</script>

<style scoped>

  .router-link {
    text-decoration: none;
  }

</style>