<template>
  <p-vue-panel  v-for="(item, index) in items"
                
                :key="index">
    <template #header>
      <p class="description">{{ item.description }}</p>
      <time class="date">{{ item.date }}</time>

    </template>
    <div  v-if="item.attachments?.length"
          
          class="attachments">
      <label>{{ __("Photos") }}:</label>
      <i-attachments-list :data="item.attachments" />
    </div>
    <div class="p-fluid">
      <p-vue-button :class="{
                      'p-button-lg': true,
                      'p-jc-center': true,
                      'p-button-rounded': true,
                      'p-button-success': true,
                      'p-button-outlined': true,
                    }">
        <span class="p-button-text">
          {{ __($store.getters.getServiceCallsLabel(item.status)) }}
        </span>
      </p-vue-button>
    </div>
  </p-vue-panel>
</template>

<script>

import { ref, watch, computed } from 'vue'

import { useStore } from 'vuex'

export default {
  props: {
    visiable: Boolean,
  },
  setup(props, { emit }) {
    const $store = useStore()

    const localVisiable = ref(props.visiable)
    const items = computed(() => $store.getters.getCurrentServiceCalls)

    watch(localVisiable, val => {
      if (!val)
        emit('close')
    })

    return {
      items,
      localVisiable,
    }
  }
}
</script>

<style>

  #services-list-modal {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
  }

  #services-list-modal .p-dialog-header {
    border-radius: 0 !important;
  }

  #services-list-modal .p-dialog-header {
    justify-content: space-between;

    padding: 15px;

    border-bottom-color: var(--color-primary);
  }

  #services-list-modal .p-dialog-content {
    padding: 0;
  }

  #services-list-modal .p-panel {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  #services-list-modal .p-panel:not(:last-child) {
    border-bottom: 1px solid var(--color-border-alt);
  }

  #services-list-modal .p-panel-header {
    align-items: flex-start;

    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 15px;

    color: black;
    font-size: 14px;
    letter-spacing: 0.45px;
  }

  #services-list-modal .p-panel-content {
    padding-top: 0;
    padding-bottom: 0;

    border: none;
  }

</style>

<style scoped>

  .close:deep .svg {
    width: 14px;
    height: 14px;

    color: var(--color-success);
  }

  .heading {
    margin: 0;

    font-size: 18px;
    line-height: 1.14;
    font-weight: normal;
    letter-spacing: 0.58px;
    color: var(--color-primary);
  }

  .p-button-text {
    color: black;
    font-size: 16px;
    line-height: 1.28;
    font-weight: normal;
    letter-spacing: 0.51px;
  }

  .description {
    margin: 0;
  }

  .attachments {
    padding: 0 0 15px 0;
   
    font-size: 14px;
    line-height: 1.29;
    font-weight: normal;
    letter-spacing: 0.45px;
  }

  .attachments label {
    color: var(--color-primary);
  }

</style>