<template>
  <p-vue-dialog :showHeader="false"

                rtl
                modal
                dismissableMask

                id="open-service-call-success"

                :style="{
                  maxHeight: '100%',
                }"
                :visible="localShow">
    <div class="success__wrapper">
      <div class="success__content">
        <img  class="success-icon"
              
              :src="require('@/assets/img/success.png')"
            />
          <p class="success-message">{{ message }}</p>
      </div>
    </div>
  </p-vue-dialog>
</template>

<script>

import { ref } from 'vue'

export default {
  props: {
    message: String,
    timeout: {
      type: Number,
      default: 2000,
    }
  },
  setup(props) {
    const localShow = ref(true)

    setTimeout(() => localShow.value = false, props.timeout)

    return {
      localShow,
    }
  }
}

</script>

<style scoped>

  .success__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: calc(100vw - 45px);
    height: calc(100vh - 45px);
  }

  .success-icon {
    max-width: 100%;

    transform: translateX(17px);
  }
  
  .success-message {
    margin: 0;
    
    font-size: 24px;
    line-height: 1.83;
    font-weight: bold;
    text-align: center;
    color: var(--color-success);

    margin-top: -45px;
  }

</style>