<template>
  <div :class="styles.form">
    <i-loading v-if="loading" />
    <h2 :class="styles.heading">
      <span>{{ __("Please enter the number you received in the SMS") }}</span>
    </h2>
    <div :class="{
        'p-d-flex': true,
        'p-flex-column': true,
        [styles.form__wrapper]: true,
      }">
      <div class="p-field p-fluid">
        <p-vue-input-text type="text"

                          :class="{
                            'p-fluid': true,
                            'p-text-center': true,
                            'p-inputtext-lg': true,
                            'p-inputtext-bold': true,
                            'p-inputtext-rounded': true,
                            'p-invalid': form.code.$errors.length,
                            'p-inputtext-success': $store.getters['account/getToken'],

                            [styles['phone-number']]: true,
                          }"
                          :disabled="$store.getters['account/getToken']"

                          v-model="form.code.$value"
                        />
        <i-form-error :data="form.code.$errors" class="p-text-center" />
      </div>
      <div  v-if="$store.getters['account/getToken']"
            
            class="p-field p-fluid">
        <p-vue-dropdown :options="buildings"
                        :optionLabel="'name'"
                        :placeholder="__('Select a building')"

                        v-model="form.building.$value"

                        :class="{
                          'p-dropdown-lg': true,
                          'p-dropdown-bold': true,
                          'p-dropdown-success': true,
                          'p-dropdown-rounded': true,

                          'p-invalid': form.building.$errors.length,
                        }">
          <template #value="{ value, placeholder }">
            <div class="p-d-flex p-ai-center p-jc-between p-fluid">
              <div class="p-dropdown-value">{{ value ? value.name : placeholder }}</div>
              <i-icon name="arrow" class="p-dropdown-arrow" />
            </div>
          </template>
        </p-vue-dropdown>
        <i-form-error :data="form.building.$errors" class="p-text-center" />
      </div>
      <div class="p-field p-fluid">
        <p-vue-button :class="{
                        'p-button-lg': true,
                        'p-button-rounded': true,
                        'p-button-success': true,

                        [styles.button]: true,
                      }"
                      
                      :label="__('Send')"

                      @click="submitHandler"
                    />
      </div>
      <div :class="{
        'p-d-flex': true,
        'p-jc-around': true,

        [styles.links]: true,
      }">
        <a href="#" @click.prevent="$router.go(-1)">{{ __("Return to previous screen") }}</a>
        <a href="#" @click.prevent="() => false">{{ __("Send SMS again") }}</a>
      </div>
    </div>
  </div>
</template>

<script>

import { ref, computed } from 'vue'

import { useStore } from 'vuex'
import { useRouter } from 'vue-router'

import { useValidation, ValidationError } from 'vue3-form-validation'

import styles from './style.module.css'

export default {
  setup() {
    
    const $store = useStore()
    const $router = useRouter()

    if (!$store.getters['auth/getPhoneNumber'] && !$store.getters['account/authenticated'])
      $router.push({ name: 'Login' })

    const loading = ref(false)
    
    const buildings = computed(() => $store.getters.getBuildings);
    
    const { form, errors, validateFields } = useValidation({
      code: {
        $value: computed({
          get: () => $store.getters['account/getToken'] ? "*********" : $store.getters['auth/getCode'],
          set: val => $store.commit('auth/setCode', val),
        }),
        $rules: [
          val => !(/[0-9]{3,}$/.test(val)) && !$store.getters['account/getToken'] && "Invalid confirmation code",
        ],
      },
      building: {
        $value: computed({
          get: () => $store.getters.getCurrentBuilding,
          set: val => {
            $store.commit('setBuilding', val.id)
          },
        }),
        $rules: [
          val => !val && $store.getters['account/getToken'] && "Choose building for continue",
        ]
      }
    })

    const submitHandler = async () => {
      try {
        await validateFields()

        if (!errors.length) {
          loading.value = true

          if ($store.getters['account/authenticated']) {
            if (form.building.$value) {
              $store.dispatch('doBuildingChoose')
                .then(result => {
                  if (result.success)
                    $router.push({ name: 'Dashboard' })
                  })
            }
          } else {
            $store.dispatch('auth/doConfirm')
              .then(result => {
                if (result.token)
                  $store.dispatch('account/signIn', result.token)
                  loading.value = false
                })
          }
        }
          
      } catch (err) {
        if (!(err instanceof ValidationError))
          console.error(err)
      }
    }

    return {
      styles,

      form,
      loading,
      buildings,

      submitHandler,
    }
  }
}

</script>