<template>
  <div :class="styles.form">
    <i-loading v-if="loading" />
    <h2 :class="styles.heading">
      <span>{{ __("Please enter your mobile number") }}</span>
    </h2>
    <div :class="{
        'p-d-flex': true,
        'p-flex-column': true,

        [styles.form__wrapper]: true,
      }">
      <div class="p-field p-fluid">
        <p-vue-input-text type="text"

                          :class="{
                            [styles['phone-number']]: true,

                            'p-text-center': true,
                            'p-inputtext-lg': true,
                            'p-inputtext-bold': true,
                            'p-inputtext-rounded': true,

                            'p-invalid': form.phoneNumber.$errors.length,
                          }"
                          v-model="form.phoneNumber.$value"
                        />
        <i-form-error :data="form.phoneNumber.$errors" class="p-text-center" />
      </div>
      <p-vue-button :class="{
                      [styles.button]: true,

                      'p-button-lg': true,
                      'p-button-rounded': true,
                      'p-button-success': true,
                    }"
                    
                    :label="__('Send')"

                    @click="submitHandler"
                  />
    </div>
  </div>
</template>

<script>

import { computed, ref } from 'vue'

import { useStore } from 'vuex'
import { useRouter } from 'vue-router'

import { useValidation, ValidationError } from 'vue3-form-validation'

import styles from './style.module.css'

export default {
  setup() {

    const $store = useStore()
    const $router = useRouter()

    const loading = ref(false)
    
    const { form, errors, validateFields } = useValidation({
      phoneNumber: {
        $value: computed({
          get: () => $store.getters['auth/getPhoneNumber'],
          set: value => $store.commit('auth/setPhoneNumber', value),
        }),
        $rules: [
          val => !(/[0-9]{8,9}$/.test(val)) && "Invalid phone number",
        ],
      }
    })

    const submitHandler = async () => {
      try {
        await validateFields()

        loading.value = true
        if (!errors.length) {
          $store.dispatch('auth/doSignIn')
            .then(result => {
              if (result.success)
                $router.push({ name: 'Confirm' })

              loading.value = false
            })
        }
      } catch (err) {
        if (!(err instanceof ValidationError))
          console.error(err)
      }
    }

    return {
      styles,

      form,
      loading,

      submitHandler,
    }
  }
}
</script>