.form {
  position: relative;

  padding: 30px 0;

  background-color: rgba(255, 255, 255, .5);
}

.form__wrapper {
  max-width: 360px;

  padding: 0 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.error {
  display: block;
  font-size: 13px;
  font-weight: bold;
}

.error span {
  display: block;
}

.heading {
  margin: 0;

  line-height: 1;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 0.58px;
  color: var(--color-link)
}

.heading {
  display: flex;
  align-items: center;
}

.heading span {
  margin: 0 10px;
}

.heading::after,
.heading::before {
  flex: 1;

  content: '';

  display: block;

  height: 1px;

  background-color: var(--color-link);
}

.phone-number {
  background-color: #ffffffcc;
}

.links a {
  color: black;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.51px;
}

.button {
  font-weight: bold;
}