<template>
  <ul v-if="hasIcons"
      
      class="contacts-group">
    <li v-for="(value, key) in data"
        
        :key="key">
      <a :href="c_link__(key, value)">
        <i-icon :name="c_icon__(key)" />
      </a>
    </li>
  </ul>
</template>

<script>

import { __c_icon__, __c_link__ } from '@/includes/helper'

export default {
  props: {
    data: {
      type: Object,
      default: () => {},
    }
  },
  setup(props) {

    const hasIcons = () => Object.keys(props.data).length > 0

    return {
      hasIcons,

      c_icon__: __c_icon__,
      c_link__: __c_link__,
    }
  }
}
</script>

<style scoped>

  .contacts-group {
    margin: 0;
    padding: 0;

    list-style: none;

    display: flex;
    align-items: center;
  }

  .contacts-group li {
    display: flex;
  }

  .contacts-group li:not(:last-child):after {
    content: '';

    flex: 0 0 1px;

    width: 1px;

    margin: 0 10px;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../assets/img/icons/dash.png');
  }

  .contacts-group li a {
    color: var(--color-success-active);
  }

  .contacts-group li a:deep .svg {
    width: 20px;
    height: 20px;
  }

</style>