<template>
  <div class="p-date-dropdown-container">
    <p-vue-dropdown class="p-date-dropdown"
                  
                    :options="[2018, 2019, 2020, 2021]"
      
                    v-model="date">
      <template #value="{ value, placeholder }">
        <div class="label">
          <span class="value">{{ value ? value.label ? value.label : value : placeholder }}</span>
          <i-icon name="arrow" />
        </div>
      </template>
    </p-vue-dropdown>
  </div>
</template>

<script>

import { ref } from 'vue'

export default {
  setup() {
    const date = ref(2020)

    return {
      date,
    }
  }  
}

</script>

<style scoped>

  .p-date-dropdown-container {
    display: flex;
    justify-content: center;

    padding-bottom: 10px;
  }

  .p-date-dropdown {
    max-width: 100%;

    padding: 0;

    border: none;
    border-radius: 0;
    background-color: var(--color-success);

    clip-path: polygon(0 0, 100% 0%, 90% 100%, 10% 100%);
  }

  .p-date-dropdown:deep .p-dropdown-label {
    padding: 7px 25px;
  }

  .label {
    display: flex;
    align-items: center;

    color: white;
  }

  .label:deep .svg {
    width: 13px;
    height: 13px;

    margin-right: 8px;
  }

  .value {
    flex: 1;
    
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

</style>