<template>
  <p-vue-dialog class="p-override-dialog">
    <template #header>
      <h5 class="dialog__title">{{ $attrs.title }}</h5>
      <a  href="#"
          class="dialog__close"
          @click.prevent="$emit('update:visible', false)">
        <i-icon name="cancel" />
      </a>
    </template>
    <slot></slot>
  </p-vue-dialog>
</template>

<style scoped>

  .dialog__title {
    margin: 0;

    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0.58px;
    color: var(--color-primary);
  }
  
  .dialog__close {
    color: var(--color-success);
  }

  .dialog__close:deep .svg {
    width: 15px;
    height: 15px;
  }

</style>