<template>
  <p-vue-button class="plus-button p-button-rounded p-button-success">
    <i-icon name="plus" />
  </p-vue-button>
</template>

<style scoped>

  .plus-button {
    right: 15px;
    bottom: 15px;
    position: fixed;

    align-items: center;
    justify-content: center;

    width: 42px;
    height: 42px;

    padding: 0;

    border: 2px solid white !important;
    box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.35);
  }

  .plus-button:deep .svg {
    width: 20px;
    height: 20px;
  }


</style>