<template>
  <div  :class="{
          'smooth': true,
          [`screen--${inScreen}`]: inScreen,
        }"
        :data-value="modelValue">
    <div  class="smooth__block"
          
          :style="{
            height: wrapperHeight,
            cursor: wrapperCursor,
          }"
          
          @mousewheel="navigateWheel">
      <div class="smooth__overlay">
        <div></div>
        <div  class="active"
              
              :style="{
                height: itemHeight,
              }"></div>
        <div  :style="{

              }"></div>
      </div>
      <div  ref="wrapper"
            :class="{
              'smooth__wrapper': true,
              'smooth__wrapper--grabbing': grabbing,
            }"
            
            :style="{
              transform: `translate3d(0, ${itemTransform}px, 0)`,
            }"
            
            @mousedown="dragStart"
            @touchstart.passive="dragStart">
        <div  v-for="(item, i) in data"
              
              :key="i"
              :style="{
                height: itemHeight,
                flex: `0 0 ${itemHeight}`,
              }"
              
              class="smooth__item">
          <div class="smooth__inner">{{ item.label }}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import { ref, computed, onMounted, onUnmounted, onUpdated, watch } from 'vue'

import { __event_y__ } from '@/includes/helper'

export default {
  props: {
    modelValue: {
      default: 0,
      type: Number,
    },
    data: {
      type: Array,
      default: () => [],
    },
    height: {
      default: 42,
      type: Number,
    },
    inScreen: {
      default: 3,
      type: Number,
      validator: value => {
        return value === 2 || value % 2 != 0
      }
    },
    dragDistance: {
      default: 10,
      type: Number,
    }
  },
  setup(props, { emit }) {
    const value = computed({
      get: () => props.modelValue,
      set: value => {
        emit('update:modelValue', value)
      }
    })

    const wrapper = ref(null)
    const grabbing = ref(false)

    const dragState = {
      end: 0,
      start: 0,

      distance: () => dragState.end - dragState.start,
      steps: () => -Math.round(dragState.distance() / props.height),

      reset: () => {
        dragState.end = 0
        dragState.start = 0
        grabbing.value = false
      }
    }
    
    const itemHeight = computed(() => `${props.height}px`)
    const itemTransform = computed(() => current.value * -props.height)
    const wrapperHeight = computed(() => `${props.height * props.inScreen}px`)
    const wrapperCursor = computed(() => grabbing.value ? 'grabbing' : 'grab')

    const border = computed(() => Math.floor(props.inScreen / 2))
    const bottomBorder = computed(() => props.data.length - props.inScreen + border.value - (props.inScreen % 2 == 0 ? 1 : 0))

    const current = ref(-border.value)

    onMounted(() => {
      
      document.body.addEventListener('mouseup', dragEnd)
      document.body.addEventListener('mousemove', dragMove)

      document.body.addEventListener('mouseleave', dragEnd)

      document.body.addEventListener('touchend', dragEnd, false)
      document.body.addEventListener('touchmove', dragMove, false)
      document.body.addEventListener('touchcancel', dragEnd, false)

      if (props.modelValue != undefined)
        current.value = props.modelValue - border.value
    })

    onUnmounted(() => {

      document.body.removeEventListener('mouseup', dragEnd)
      document.body.removeEventListener('mousemove', dragMove)

      document.body.removeEventListener('mouseleave', dragEnd)

      document.body.removeEventListener('touchend', dragEnd)
      document.body.removeEventListener('touchmove', dragMove)
      document.body.removeEventListener('touchcancel', dragEnd)
    })

    onUpdated(() => {
      
    })

    watch(value, (val) => {
      if (val !== current.value + border.value)
        goto(val - (current.value + border.value))
    })

    function dragStart(event) {
      dragState.start = __event_y__(event)
      grabbing.value = true
    }

    function dragMove(event) {
      if (!grabbing.value) return;

      dragState.end = __event_y__(event)

      wrapper.value.style.transform = `translate3d(0, ${(dragState.distance() + itemTransform.value)}px, 0)`
    }

    function navigateWheel(event) {
      const { wheelDelta } = event;
      
      if (wheelDelta < 0) {
        next()
      } else if (wheelDelta > 0) {
        back()
      }
    }

    function dragEnd() {
      if (!grabbing.value || Math.abs(dragState.distance()) < props.dragDistance) {
        return dragState.reset();
      }
      
      goto(dragState.steps())

      dragState.reset()
    }

    function goto(index) {
      current.value += index

      if (current.value < -border.value)
        current.value = -border.value
      
      if (current.value > bottomBorder.value)
        current.value = bottomBorder.value

      value.value = current.value + border.value
    }

    function back() {
      if (--current.value < -border.value) {
        current.value = -border.value
      }

      value.value = current.value + border.value
    }

    function next() {
      if (++current.value > bottomBorder.value) {
        current.value = bottomBorder.value
      }

      value.value = current.value + border.value
    }

    return {
      wrapper,
      
      grabbing,
      itemHeight,
      itemTransform,
      wrapperHeight,
      wrapperCursor,
      navigateWheel,

      dragStart,
    }
  }
}

</script>

<style scoped>

  .smooth {
    position: relative;

    display: flex;
    flex-wrap: nowrap;

    user-select: none;
    -webkit-user-drag: none;
  }

  .smooth__block {
    position: relative;

    overflow: hidden;
  }

  .smooth__wrapper {
    display: flex;
    flex-direction: column;
  }

  .smooth__wrapper:not(.smooth__wrapper--grabbing) {
    transition: transform .3s ease;
  }

  .smooth__item {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 16px;
    color: #424242;
    letter-spacing: 0.51px;
  }

  .smooth__inner {
    padding-left: 10px;
    padding-right: 10px;
  }

  .smooth__overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    position: absolute;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    pointer-events: none;
  }

  .smooth__overlay::after,
  .smooth__overlay::before {
    content: '';

    flex: 1;

    background-color: rgba(255, 255, 255, 0.7);
  }

  .smooth__overlay .active {
    border: 1px solid var(--color-border-alt);
    border-width: 1px 0 1px 0;
  }

  .screen--2 .smooth__overlay::after {
    display: none;
  }

</style>