<template>
  <div class="filters">
    <i-override-calendar v-model="date" />
    <i-override-dropdown  :options="rooms"
                          
                          v-model="room"
                        />
  </div>
  <div class="data">
    <h4 class="data__heading">{{ __("Scheduled events") }}</h4>
    <p-vue-table  :value="data"
                
                  class="p-no-thead"
                  responsiveLayout="scroll">
      <p-vue-column field="time">
        <template #body="{ data }">
          {{ data.time.join(' - ') }}
        </template>
      </p-vue-column>
      <p-vue-column field="apartment">
        <template #body="{ data }">
          {{ `${__("Apartment")} ${data.apartment}` }}
        </template>
      </p-vue-column>
    </p-vue-table>
  </div>
  <i-override-dialog  :modal="true"
                      :dismissableMask="true"
                      :title="__('Adding a new event')"
                      
                      v-model:visible="newModal">
    <local-new :close="() => newModal = false" />
  </i-override-dialog>
  <i-plus-button @click="newModal = true" />
</template>

<script>

import { reactive, ref } from 'vue'

import __preview from '@/preview/'
import { __ } from '@/plugins/i18n'

import LocalNew from './new'

export default {
  components: {
    LocalNew,
  },
  setup() {
    const rooms = ref([])
    const newModal = ref(false)
    const date = ref(new Date())
    const room = ref(`${__("Room")} 1`)

    const data = reactive(__preview('tenant-room'))

    for (let i = 1; i < 6; i++)
      rooms.value = [...rooms.value, `${__("Room")} ${i}`];

    return {
      data,
      date,
      room,
      rooms,
      newModal,
    }
  }
}
</script>

<style scoped>

  .filters {
    display: flex;
    flex-wrap: wrap;

    padding: 25px 15px;
  }

  :deep .p-calendar .p-inputtext,
  :deep .p-override-dropdown-value .value {
    color: #424242 !important;
  }

  .filters > * {
    flex: 1;

    border-radius: 0 !important;
  }

  .filters > *:not(:last-child) {
    margin-left: -1px;
  }

  .filters > *:first-child,
  .filters:deep > *:first-child .p-inputtext {
    border-top-right-radius: 30px !important;
    border-bottom-right-radius: 30px !important;
  }

  .filters > *:last-child,
  .filters:deep > *:last-child .p-inputtext {
    border-top-left-radius: 30px !important;
    border-bottom-left-radius: 30px !important;
  }

  .data__heading {
    margin: 0;
    padding: 2px 15px 15px;

    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0.58px;
    color: var(--color-primary);
  }

  .data:deep .p-datatable .p-datatable-tbody > tr > td {
    color: #515151;
    font-size: 15.5px;
  }

</style>