<template>
  <div class="form">
    <p-vue-input-text :placeholder="__('Topic')"
                      
                      v-model="topic"
                      class="p-inputtext--alt"
                    />
    <p-vue-calendar :placeholder="__('Date')"
                    
                    v-model="date"
                    class="p-inputtext--alt"
                  />
    <div class="time">
      <div>
        <h5 class="time__heading">{{ __("Beginning time") }}</h5>
        <div class="picker">
          <i-smooth-picker  :data="hours"
                            :in-screen="3"
                          
                            v-model="startHour"
                          />
          <span class="separator">:</span>
          <i-smooth-picker  :data="minutes"
                            :in-screen="3"
                          
                            v-model="startMinute"
                          />
        </div>
      </div>
      <div>
        <h5 class="time__heading">{{ __("End time") }}</h5>
        <div class="picker">
          <i-smooth-picker  :data="hours"
                            :in-screen="3"
                          
                            v-model="endHour"
                          />
          <span class="separator">:</span>
          <i-smooth-picker  :data="minutes"
                            :in-screen="3"
                          
                            v-model="endMinute"
                          />
        </div>
      </div>
    </div>
    <p-vue-button class="p-button-success p-button-rounded p-jc-center"
                  
                  @click="submit">
      <strong class="p-text-center">{{ __("OK") }}</strong>
    </p-vue-button>
  </div>
</template>

<script>

import { ref, computed } from 'vue'

export default {
  props: {
    close: {
      type: Function,
      default: () => null,
    }
  },
  setup(props) {

    const topic = ref('')
    const date = ref(null)

    const now = new Date()

    const startHour = ref(now.getHours())
    const startMinute = ref(now.getMinutes())
    const endHour = ref(now.getHours())
    const endMinute = ref(now.getMinutes())
    
    const hours = [...Array(24)].map((v, i) => ({ value: i, label: i > 9 ? i : `0${i}` }))
    const minutes = [...Array(60)].map((v, i) => ({ value: i, label: i > 9 ? i : `0${i}` }))

    const startTime = computed(() => {
      const time = new Date()
            time.setHours(startHour.value)
            time.setMinutes(startMinute.value)

      return time;
    })
    const endTime = computed(() => {
      const time = new Date()
            time.setHours(endHour.value)
            time.setMinutes(endMinute.value)

      return time;
    })

    const submit = () => {
      console.log(startTime, endTime)

      props.close();
    }

    return {
      date,
      topic,

      hours,
      minutes,

      endHour,
      endMinute,
      startHour,
      startMinute,

      submit,
    }
  }
}
</script>

<style scoped>

  .form {
    display: flex;
    flex-direction: column;

    width: 288px;
    max-width: 288px;

    padding-left: 8px;
    padding-right: 8px;
  }

  .form:deep input::placeholder
  .form:deep input::-webkit-input-placeholder {
    color: #424242 !important;
  }

  .form > *:not(:first-child) {
    margin-top: 20px;
  }

  .time {
    gap: 15px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto;
  }

  .time__heading {
    gap: 3px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto 1fr;

    margin-top: 0;
    margin-bottom: 20px;

    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.51px;
    color: var(--color-primary);
  }

  .time__heading::after,
  .time__heading::before {
    content: '';

    height: 1px;

    background-color: var(--color-primary);
  }

  :deep .p-datepicker .p-timepicker button {
    padding: 20px;

    border-radius: 0;

    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.51px;
    color: var(--color-border-alt)
  }

  :deep .p-datepicker .p-timepicker button:first-child {
    border-bottom: 1px solid var(--color-border-alt)
  }

  :deep .p-datepicker .p-timepicker button:last-child {
    border-top: 1px solid var(--color-border-alt)
  }

  :deep .p-datepicker .p-timepicker span {
    padding-top: 15px;
    padding-bottom: 15px;

    font-size: 16px;
    color: #424242;
    font-weight: normal;
    letter-spacing: 0.51px;
  }

  .picker {
    gap: 10px;
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto;
  }

  .separator {
    font-size: 16px;
    color: #ababab;
    font-weight: normal;
    letter-spacing: 0.51px;
  }

</style>