@font-face {
  font-family: 'OpenSansHebrew';
  src: url("./opensanshebrew-regular.eot");
  src: url("./opensanshebrew-regular.eot?#iefix") format("embedded-opentype"), url("./opensanshebrew-regular.woff2") format("woff2"), url("./opensanshebrew-regular.woff") format("woff"), url("./opensanshebrew-regular.ttf") format("truetype"), url("./opensanshebrew-regular.svg#open_sans_hebrewregular") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansHebrew';
  src: url("./opensanshebrew-italic.eot");
  src: url("./opensanshebrew-italic.eot?#iefix") format("embedded-opentype"), url("./opensanshebrew-italic.woff2") format("woff2"), url("./opensanshebrew-italic.woff") format("woff"), url("./opensanshebrew-italic.ttf") format("truetype"), url("./opensanshebrew-italic.svg#open_sans_hebrewitalic") format("svg");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSansHebrew';
  src: url("./opensanshebrew-bold.eot");
  src: url("./opensanshebrew-bold.eot?#iefix") format("embedded-opentype"), url("./opensanshebrew-bold.woff2") format("woff2"), url("./opensanshebrew-bold.woff") format("woff"), url("./opensanshebrew-bold.ttf") format("truetype"), url("./opensanshebrew-bold.svg#open_sans_hebrewbold") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansHebrew';
  src: url("./opensanshebrew-bolditalic.eot");
  src: url("./opensanshebrew-bolditalic.eot?#iefix") format("embedded-opentype"), url("./opensanshebrew-bolditalic.woff2") format("woff2"), url("./opensanshebrew-bolditalic.woff") format("woff"), url("./opensanshebrew-bolditalic.ttf") format("truetype"), url("./opensanshebrew-bolditalic.svg#open_sans_hebrewbold_italic") format("svg");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSansHebrew';
  src: url("./opensanshebrew-extrabold.eot");
  src: url("./opensanshebrew-extrabold.eot?#iefix") format("embedded-opentype"), url("./opensanshebrew-extrabold.woff2") format("woff2"), url("./opensanshebrew-extrabold.woff") format("woff"), url("./opensanshebrew-extrabold.ttf") format("truetype"), url("./opensanshebrew-extrabold.svg#open_sans_hebrewextra_bold") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansHebrew';
  src: url("./opensanshebrew-extrabolditalic.eot");
  src: url("./opensanshebrew-extrabolditalic.eot?#iefix") format("embedded-opentype"), url("./opensanshebrew-extrabolditalic.woff2") format("woff2"), url("./opensanshebrew-extrabolditalic.woff") format("woff"), url("./opensanshebrew-extrabolditalic.ttf") format("truetype"), url("./opensanshebrew-extrabolditalic.svg#open_sans_hebrewXBdIt") format("svg");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSansHebrew';
  src: url("./opensanshebrew-light.eot");
  src: url("./opensanshebrew-light.eot?#iefix") format("embedded-opentype"), url("./opensanshebrew-light.woff2") format("woff2"), url("./opensanshebrew-light.woff") format("woff"), url("./opensanshebrew-light.ttf") format("truetype"), url("./opensanshebrew-light.svg#open_sans_hebrewlight") format("svg");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansHebrew';
  src: url("./opensanshebrew-lightitalic.eot");
  src: url("./opensanshebrew-lightitalic.eot?#iefix") format("embedded-opentype"), url("./opensanshebrew-lightitalic.woff2") format("woff2"), url("./opensanshebrew-lightitalic.woff") format("woff"), url("./opensanshebrew-lightitalic.ttf") format("truetype"), url("./opensanshebrew-lightitalic.svg#open_sans_hebrewlight_italic") format("svg");
  font-weight: 200;
  font-style: italic;
}
/*# sourceMappingURL=font-face.css.map */