<template>
  <div class="filter">
    <p-vue-input-text v-model="search"

                      class="search"

                      :placeholder="__('Enter a phrase to search for an apartment')"
                    />
    <a  href="#"

        @click.prevent="filterModal = true">
      <i-icon name="filter" />
    </a>
  </div>
  <p-vue-panel  v-for="(item, index) of list"
                
                :key="index"
                
                :toggleable="true"
                :collapsed="item.collapsed"
                
                :class="{
                  'p-panel-collapsed': item.collapsed,
                }">
    <template #header>
      <a  href="#"
          class="toggler"
          
          @click.prevent="item.collapsed = !item.collapsed">
        <h4 class="name">{{ item.name }}</h4>
        <i-icon name="arrow" />
      </a>
    </template>
    <div class="content">
      <div>
        <label>{{ __("Property type") }}:</label>
        <span>{{ __(item.propertyType) }}</span>
        <label>{{ __("Room taxes") }}:</label>
        <span>{{ item.roomTaxes }}</span>
        <label>{{ __("Storage") }}:</label>
        <span>{{ item.storage ? __("Yes") : __("No") }}</span>
        <label>{{ __("Management type") }}:</label>
        <span>{{ __(item.managementType) }}</span>
        <label>{{ __("Payment methods") }}:</label>
        <span>{{ __(item.paymentMethods) }}</span>
        <label>{{ __("Apartment debt") }}:</label>
        <span>
          {{ item.apartmentDebt }}
          <p-vue-button v-if="item.apartmentDebt"
                        
                        class="button--show p-button-sm p-button-outlined p-button-rounded p-button-success">
            {{ __("Show") }}
          </p-vue-button>
        </span>
      </div>
      <div>
        <label>{{ __("Floor") }}:</label>
        <span>{{ item.floor }}</span>
        <label>{{ __("Area") }}:</label>
        <div v-html="__u_value__(item.area)"></div>
        <label>{{ __("Warehouse space") }}:</label>
        <div v-html="__u_value__(item.warehouseSpace)"></div>
        <label>{{ __("House committee") }}:</label>
        <p-vue-checkbox v-model="item.houseCommittee" />
        <label class="space">space</label>
        <span class="space">space</span>
        <label>{{ __("Legal") }}:</label>
        <p-vue-checkbox v-model="item.legal" />
      </div>
    </div>
    <p-vue-table  :value="item.members"
                  
                  responsiveLayout="scroll"

                  class="p-no-thead">
      <p-vue-column field="type"
                    :style="{
                      width: '34%',
                    }">
        <template #body="{ data }">
          <label>{{ __(data.type) }}:</label>
        </template>
      </p-vue-column>
      <p-vue-column field="name"
                    :style="{
                      width: '66%',
                    }"></p-vue-column>
      <p-vue-column field="contacts">
        <template #body="{ data }">
          <i-contacts-group :data="data.contacts" />
        </template>
      </p-vue-column>
    </p-vue-table>
  </p-vue-panel>
  <p-vue-sidebar  position="left"
                  class="sidebar--menu"
                  id="apartments-and-tenants-filter"
                  
                  :style="{
                    padding: 0,
                    maxWidth: '275px',
                  }"
                  
                  v-model:visible="filterModal">
    <p-filter :close="() => filterModal = false" />
  </p-vue-sidebar>
</template>

<script>

import { reactive, ref } from 'vue'

import __preview from '@/preview/'

import PFilter from '@/components/partials/apartments-and-tenants/filter'

export default {
  components: {
    PFilter,
  },
  setup() {

    const search = ref('')

    const data = __preview('apartments-and-tenants')

    const list = reactive([])
    const filterModal = ref(false)

    data.forEach(datum => {
      datum.collapsed = true;

      datum.legal = ref(datum.legal)
      datum.houseCommittee = ref(datum.houseCommittee)

      list.push(datum)
    })

    return {
      list,
      search,
      filterModal,
    }
  }
}

</script>

<style scoped>

  .button--show {
    padding: 0 12px;
    margin-right: 5px;

    color: var(--color-success-active) !important; 
  }

  .filter {
    display: flex;
    justify-content: space-between;

    padding: 10px 15px 5px;

    background-color: var(--color-primary);
  }

  .filter a {
    color: white;

    margin-right: 3px;
  }

  .filter a:deep .svg {
    width: 24px;
    height: 24px;
  }

  .search {
    flex: 1;

    padding: 0 0 8px 0;

    border-radius: 0;
    border: 1px solid white;
    border-width: 0 0 1px 0;
    background-color: transparent;

    color: white;
    font-size: 16px;
    line-height: 1.28;
    font-style: italic;
    font-weight: normal;
    letter-spacing: 0.51px;
  }

  .search::placeholder {
    color: white;
    font-size: 16px;
    line-height: 1.28;
    font-style: italic;
    font-weight: normal;
    letter-spacing: 0.51px;
  }

  .toggler {
    flex: 0 0 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px 15px;

    color: inherit;
    text-decoration: none;
  }

  .content {
    display: grid;
    align-items: flex-start;
    justify-content: space-between;
    grid-template-columns: auto auto;

    border-top: 1px solid white;

    padding: 20px 0 15px;
  }

  .content > div {
    gap: 20px 5px;
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;

    font-size: 14px;
    color: #080808;
    line-height: 1.46;
    font-weight: normal;
    letter-spacing: 0.45px;
  }

  .content > div span {
    display: flex;
    align-items: center;
  }

  :deep label {
    color: var(--color-primary-hover);
  }

  :deep .p-panel-toggleable {

  }
  
  .content ul {
    margin: 0;
    padding: 0;

    list-style: none;
  }

  .content ul li {
    gap: 15px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
  }

  .p-panel:deep {
    border-bottom: 1px solid var(--color-border-alt);
  }

  .p-panel:deep:not(.p-panel-collapsed) {
    background-color: #f7fbff;
  }

  .p-panel:deep .p-panel-content {
    padding: 0 15px;

    border: none;
  }

  .p-panel:deep .p-panel-header {
    padding: 0px;
  }

  .p-panel:deep .p-panel-header .svg {
    width: 15px;
    height: 15px;

    color: var(--color-success);

    transform: rotate(180deg);

    transition: transform .3s ease;
  }

  .name {
    margin: 0;

    color: black;
    font-size: 16px;
    line-height: 1.28;
    font-weight: normal;
    letter-spacing: 0.51px;
  }

  .p-panel:deep.p-panel-collapsed .name {
    color: var(--color-label);
  }

  .p-panel:deep.p-panel-collapsed .svg {
    transform: rotate(0deg);
  }

  .space {
    color: transparent !important;
  }

  :deep .p-datatable {
    padding-top: 7px;
    padding-bottom: 7px;

    border-top-color: var(--color-border);
  }

  :deep .p-datatable tr {
    background: transparent;
  }

  :deep .p-datatable tr td {
    padding: 5px 0;

    border: none;
  }

</style>