<template>
  <div class="container">
    <div class="contacts">
      <h4 class="heading">
        {{ __("WhatsApp group of the building") }}
      </h4>
      <a  :href="whatsapp"
          
          class="link">
        {{ whatsapp }}
      </a>
    </div>
    <div class="members">
      <h4 class="heading">{{ __("Committee members") }}</h4>
      <p-vue-table  :value="members"
                    
                    responsiveLayout="scroll"
                    
                    class="p-no-thead">
        <p-vue-column field="name"
                      
                      :style="{
                        width: '50%'
                      }"></p-vue-column>
        <p-vue-column field="apartment"
                      
                      :style="{
                        width: '50%'
                      }">
          <template #body="{ data }">
            {{ __("Apartament") }}: {{ data.apartment }}
          </template>
        </p-vue-column>
        <p-vue-column field="contacts">
          <template #body="{ data }">
            <i-contacts-group :data="data.contacts" />
          </template>
        </p-vue-column>
      </p-vue-table>
    </div>
  </div>
</template>

<script>

import { __c_link__ } from '@/includes/helper'

export default {
  setup() {

    const members = [
      {
        name: 'מירי כהן',
        apartment: 8,
        contacts: {
          whatsapp: "06543213456",
          mail: "email@mail.ru",
          phone: "031443214",
        },
      },
      {
        name: 'יוני מרטין',
        apartment: 21,
        contacts: {
          whatsapp: "06543213456",
          mail: "email@mail.ru",
          phone: "031443214",
        },
      },
      {
        name: 'דוד פחימה',
        apartment: 78,
        contacts: {
          whatsapp: "06543213456",
          mail: "email@mail.ru",
          phone: "031443214",
        },
      },
    ]

    return {
      members,
      whatsapp: __c_link__('whatsapp', '0547796954'),
    }
  }
}
</script>

<style scoped>

  .contacts {
    padding-top: 20px;
  }

  .heading {
    margin: 0;

    font-size: 16px;
    font-weight: normal;
    line-height: 1.28;
    letter-spacing: 0.51px;
    color: var(--color-primary);
  }

  .link {
    font-size: 14px;
    line-height: 1.46;
    color: var(--color-success-active);
  }

  .members .heading {
    margin: 30px 0 10px;
  }

  .members:deep .p-datatable .p-datatable-tbody > tr > td:first-child {
    padding-right: 0;
  }

  .members:deep .p-datatable .p-datatable-tbody > tr > td:last-child {
    padding-left: 0;
  }

</style>