<template>
  <div class="container">
    <div class="p-text-center">
      <img :src="logo" />
    </div>
    <ul class="contacts">
      <li v-for="(item, index) of contacts"
          
          :key="index">
        <span>
          {{ __(item.label) }}:
          {{ item.value }}
        </span>
        <i-icon v-if="item.icon"
                
                :name="item.icon"
              />
      </li>
    </ul>
  </div>
</template>

<script>

export default {
  setup() {

    const contacts = [
      {
        label: "Name",
        value: "סנטר טים",
      },
      {
        label: "Phone",
        value: "036706060",
        icon: 'phone-alt',
      },
      {
        label: "Miles",
        value: "info@centerteam.co.il",
        icon: 'mail',
      },
      {
        label: "Address",
        value: "סד’ מנחם בגין 24, תל אביב",
        icon: "location",
      }
    ]

    return {
      contacts,
      logo: require('../../assets/img/logos/company-logo.png'),
    }
  }  
}

</script>

<style scoped>

  .container:deep {
    margin: 0 auto;
    padding-top: 15px;
  }

  .contacts {
    margin: 0;
    padding: 20px 0;

    list-style: none;
  }

  .contacts li {
    display: flex;
    justify-content: space-between;

    padding: 20px 0;

    border-top: 1px solid var(--color-border-alt);

    color: black;
    font-size: 16px;
    line-height: 1.28;
    letter-spacing: 0.51px;
  }

  .contacts li:last-child {
    border-bottom: 1px solid var(--color-border-alt);
  }

  .contacts li:deep .svg {
    width: 20px;
    height: 20px;
    
    color: var(--color-success-active);
  }

</style>