<template>
  <p-vue-tab-view class="p-tabview-center">
    <p-vue-tab-panel :header="__('Building profile')">
      <local-building />
    </p-vue-tab-panel>
    <p-vue-tab-panel :header="__('Management company details')">
      <local-company />
    </p-vue-tab-panel>
    <p-vue-tab-panel :header="__('Apartments and tenants')">
      <local-apartments-and-tenants />
    </p-vue-tab-panel>
  </p-vue-tab-view>
</template>

<script>

import LocalCompany from './company'
import LocalBuilding from './building'
import LocalApartmentsAndTenants from './apartments-and-tenants'

export default {
  components: {
    LocalCompany,
    LocalBuilding,
    LocalApartmentsAndTenants,
  },
  setup() {

  },
}
</script>