<template>
  <div  :class="{
          'table': true,
          'container': true,
          'show-total': showTotal,
          'show-revenue': showRevenue,
          'show-tfoot': showTotal || showRevenue,
        }">
    <h3 class="table__heading">{{ title }}</h3>
    <p-vue-table  :value="value"
                  :groupRowsBy="['type', 'budget', 'inPractice', 'implementaion']"

                  v-model:expandedRows="expandedRows"
                  
                  responsiveLayout="scroll">
      <p-vue-column field="type" :header="__('Type of income')">
        <template #body="{ data }">
          <div :class="{ 'expender-cell': data.additional }">
            <a  v-if="data.additional"
              
                href="#"
                class="expender"
                
                @click.prevent="() => toogleRow(data)">
              <i-icon :name="expenderIcon(data)" />
            </a>
            <span>{{ data.type }}</span>
          </div>
        </template>
      </p-vue-column>
      <p-vue-column field="budget" :header="__('Budget')">
        <template #body="{ data }">
          {{ typeof data.budget == 'number' ? __u_value__({ value: data.budget, unit: 'number-f' }) : data.budget }}
        </template>
      </p-vue-column>
      <p-vue-column field="inPractice" :header="__('In practice')">
        <template #body="{ data }">
          {{ typeof data.inPractice == 'number' ? __u_value__({ value: data.inPractice, unit: 'number-f' }) : data.inPractice }}
        </template>
      </p-vue-column>
      <p-vue-column field="implementaion" :header="__('Implementaion')">
        <template #body="{ data }">
          {{ implementaion(data) }}
        </template>
      </p-vue-column>
      <p-vue-column-group type="footer" >
        <p-vue-row>
          <p-vue-column :colspan="2" :footer="__('Total current expenses')" />
          <p-vue-column :colspan="2" :footer="__u_value__({ unit: 'number-f', value: total })" />
        </p-vue-row>
        <p-vue-row>
          <p-vue-column :colspan="2" :footer="__('Revenue less net expenses')" />
          <p-vue-column :colspan="2" :footer="__u_value__({ unit: 'number-f', value: revenue })" />
        </p-vue-row>
      </p-vue-column-group>
      <template #expansion="{ data }">
        <div class="additional">
          <ul v-for="(additional, index) of data.additional"
              
              :key="index"
              
              class="additional-item">
            <li>
              <label>{{ __("Date") }}:</label>
              <span>{{ additional.date }}</span>
            </li>
            <li>
              <label>{{ __("Doubt") }}:</label>
              <span>{{ additional.doubt }}</span>
            </li>
            <li>
              <label>{{ __("For") }}:</label>
              <span>{{ additional.for }}</span>
            </li>
            <li>
              <label>{{ __("Sum") }}:</label>
              <span>{{ additional.sum }}</span>
            </li>
            <li>
              <label>{{ __("Invoicing") }}:</label>
              <a :href="additional.invoicing" target="_blank">{{ __("View invoice") }}</a>
            </li>
          </ul>
        </div>
      </template>
    </p-vue-table>
  </div>
</template>

<script>

import { computed, ref } from 'vue'

export default {
  props: {
    value: Array,
    title: String,
    showTotal: Boolean,
    showRevenue: Boolean,
  },
  setup(props) {
    const expandedRows = ref([]);
    const toogleRow = item => {
      for (let i = 0; i < expandedRows.value.length; i ++) {
        if (expandedRows.value[i].id == item.id) {
          expandedRows.value.splice(i, 1)
          return expandedRows.value = [...expandedRows.value]
        }
      }

      expandedRows.value = [...expandedRows.value, item]
    }
    const expenderIcon = item => expandedRows.value.filter(datum => datum.id === item.id).length ? 'minus-boxed' : 'plus-boxed'
    
    const total = computed(() => props.value.reduce((a, i) => a + i.inPractice, 0))
    const revenue = computed(() => props.value.reduce((a, i) => a - i.inPractice, 0) / 2)
    
    const implementaion = data => {
      let p = Math.round(data.inPractice * 100 / data.budget)

      if (p >= 100 || isNaN(p) || !(typeof p == 'number') || p < 0) return ''

      return `${p}%`
    }

    return {
      total,
      revenue,
      expandedRows,

      toogleRow,
      expenderIcon,
      implementaion,
    }
  }
}

</script>

<style scoped>

  .table__heading {
    margin: 0 0 10px 0;

    font-size: 16px;
    font-weight: bold;
    color: var(--color-primary);
  }

  .expender-cell {
    gap: 5px;
    display: grid;
    grid-template-columns: 13px 1fr;
  }
  
  .expender-cell:deep .svg {
    width: 13px;
    height: 13px;

    color: var(--color-success);
  }

  .additional {
    display: flex;
    flex-direction: column;
  }

  .additional-item {
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(3, auto);

    margin: 0;
    padding: 15px;

    list-style: none;
  }

  .additional-item:not(:last-child) {
    border-bottom: 1px solid white;
  }
  
  .additional-item li {
    display: flex;
    flex-direction: column;
  }

  .additional-item li {
    color: black;
    font-size: 14px;
    font-weight: normal;
  }

  .additional-item li label {
    color: var(--color-primary);
  }

  .additional-item li a {
    color: var(--color-success-active);
  }

  .table:deep:not(.show-total) .p-datatable .p-datatable-tfoot > tr:nth-child(1),
  .table:deep:not(.show-revenue) .p-datatable .p-datatable-tfoot > tr:nth-child(2),
  .table:deep:not(.show-tfoot) .p-datatable .p-datatable-tfoot {
    display: none;
  }

  .table:deep .p-datatable .p-datatable-tbody > tr > td {
    width: 20%;
  }

  .table:deep .p-datatable .p-datatable-tbody > tr > td:last-child,
  .table:deep .p-datatable .p-datatable-tfoot > tr > td:last-child {
    padding-left: 0;
  }

  .table:deep .p-datatable .p-datatable-tbody > tr > td:first-child,
  .table:deep .p-datatable .p-datatable-tfoot > tr > td:first-child {
    width: 50%;

    padding-right: 0;
  }

</style>