<template>
  <p-vue-dropdown :options="list"
                  :optionLabel="'name'"
                  :placeholder="__('Select a building')"

                  v-model="item"
                  
                  class="dropdown">
    <template #value="{ value, placeholder }">
      <div class="inner">
        <span class="icon">
          <i-icon name="arrow" />
        </span>
        <span>{{ value ? value.name : placeholder }}</span>
      </div>
    </template>
  </p-vue-dropdown>
</template>

<script>

import { computed } from 'vue'
import { useStore } from 'vuex'

import PVueDropdown from 'primevue/dropdown'

export default {
  components: {
    PVueDropdown,
  },
  setup() {
    const $store = useStore()
    
    return {
      list: computed(() => $store.getters.getBuildings),
      item: computed({
        get: () => $store.getters.getCurrentBuilding,
        set: val => {
          $store.commit('setBuilding', val.id)
          $store.dispatch('doBuildingChoose')
        }
      })
    }
  }
}

</script>

<style scoped>

  .dropdown {
    padding: 0;

    border: none;
    border-radius: 0;
    background-color: #04529f33;
    border-bottom: 2px solid var(--color-accent);
  }

  .dropdown:hover,
  .dropdown:focus,
  .dropdown:active, 
  .dropdown.p-focus {
    border-bottom: 2px solid var(--color-accent);
  }

  .dropdown:deep .p-inputtext {
    padding: 0;
  }

  .inner {
    position: relative;

    padding: 15px 20px;

    color: black;
    line-height: 1;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.58px;
  }

  .icon {
    top: 0;
    bottom: 0;
    left: 18px; 
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;

    color: var(--color-success);
  }

  :deep .svg {
    width: 15px;
    height: 15px;
  }

</style>