<template>
  <div class="menu">
    <div class="header">
      <h2 class="heading">{{ __("Menu") }}</h2>
      <a  href="#"
          class="close"
          
          @click.prevent="close && close()">
        <i-icon name="cancel" />
      </a>
    </div>
    <div class="list">
      <p-vue-menu :model="list" />
    </div>
  </div>
</template>

<script>

import { useStore } from 'vuex'
import { useRouter } from 'vue-router'

import { __ } from '@/plugins/i18n/' 

export default {
  props: {
    close: Function,
  },
  setup() {

    const $store = useStore()
    const $router = useRouter()

    const list = [
      {
        label: __("Home page"),
        to: '/'
      },
      {
        label: __("Service call"),
        to: { name: "ServiceCalls" }
      },
      {
        label: __("Home service call"),
        to: { name: "AllServices" }
      },
      {
        label: __("Tenants' room"),
        to: { name: 'TenantRoom' }
      },
      {
        label: __("User profile"),
        to: { name: "UserProfile" }
      },
      {
        label: __("Application Feedback"),
        to: '/application-feedback'
      },
      {
        label: __("Financial condition of the building"),
        to: { name: "BudgetReport" } 
      },
      {
        label: __("Maintenance and facilities"),
        to: { name: 'MaintenanceAndFacilities' }
      },
      {
        label: __("Management company details"),
        to: { name: "BuildingProfile" }
      },
      {
        label: __("Recording expenses"),
        to: { name: "RecordingExpenses" }
      },
      {
        label: __("Bid approval"),
        to: '/bid-approval'
      },
      {
        label: __("Sign out of the system"),
        command: () => {
          $store.dispatch('auth/doSignOut');
          $router.push({ name: "Login" });
        }
      }
    ]

    return {
      list,
    }
  }
}

</script>

<style scoped>

  .menu {
    display: flex;
    flex-direction: column;

    height: 100vh;
  }

  .header {
    top: 0;
    z-index: 2;
    position: sticky;
    position: -webkit-sticky;
    
    margin: 0;
    padding: 20px;

    background-color: white;
    border-bottom: 3px solid var(--color-accent);
  }

  .list {
    flex: 1;

    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  .heading {
    margin: 0;
    padding: 0;

    font-size: 24px;
    line-height: 0.85;
    font-weight: normal;
    letter-spacing: 0.77px;
    color: var(--color-accent);
  }

  .close {
    top: 15px;
    position: absolute;
    right: calc(100% + 15px);

    color: white;
  }

  .close:deep .svg {
    width: 30px;
    height: 30px;
  }

  .menu:deep .p-menu {
    width: 100%;
    max-height: 100%;

    overflow-y: auto;

    margin: 0;
    padding: 0;

    border: none;
    border-radius: 0;
  }

  .menu:deep .p-menu-list {
    padding: 0;
  }


  .menu:deep .p-menuitem:not(:last-child)::after {
    content: '';

    display: block;

    width: 100%;
    max-width: calc(100% - 40px);

    margin: 0 20px;

    border-bottom: 1px solid var(--color-border-alt);
  }

  .menu:deep .p-menuitem-link {
    padding: 20px;
  }

  .menu:deep .p-menuitem-link .p-menuitem-icon {
    width: 10px;
    height: 11px;

    margin-left: 10px;

    background-size: auto 100%;
    background-repeat: no-repeat;
    background-image: url('../../assets/img/icons/list-item.png');
  }

</style>