<template>
  <header class="header">
    <nav class="navigation" role="navigation">
      <a  href="#"
          class="icon"

          @click.prevent="sidebar = true">
        <i-icon name="menu" />
      </a>
      <h1 class="route-name">{{ $route.meta.label || __("Control Panel") }}</h1>
      <a  v-if="showBackArrow"

          href="#"
          class="icon back"

          @click.prevent="() => $router.back()">
        <i-icon name="arrow" />
      </a>
    </nav>
    <p-building-select />
  </header>
  <p-vue-sidebar  position="right"
                  class="sidebar--menu"
                  
                  :style="{
                    padding: 0,
                    maxWidth: '297px'
                  }"

                  v-model:visible="sidebar">
    <p-menu :close="() => sidebar = false" />
  </p-vue-sidebar>
</template>

<script>

import { ref } from 'vue'

import { useRouter } from 'vue-router'

import PMenu from '@/components/partials/p-menu'
import PBuildingSelect from '@/components/partials/p-building-select'

export default {
  components: {
    PMenu,
    PBuildingSelect,
  },
  setup() {
    const $router = useRouter()

    const sidebar = ref(false)

    $router.beforeEach(() => {
      sidebar.value = false
    })

    const showBackArrow = ref(window.history.state.back !== null)
    $router.afterEach(() => {
      showBackArrow.value = window.history.state.back !== null
    })

    return {
      sidebar,

      showBackArrow,
    }
  }
}

</script>

<style scoped>

  .sidebar--menu {
    padding: 0;
  }

  .header {
    top: 0;
    z-index: 100;
    position: sticky;
    position: -webkit-sticky;

    display: flex;
    flex-direction: column;

    background-color: var(--color-accent);
  }

  .header::before {
    content: '';

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    
    pointer-events: none;
  }

  .header::before {
    z-index: 1;

    background-size: auto;
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url('../../assets/img/banners/header.png');
  }

  .navigation {
    z-index: 2;
    position: relative;

    gap: 10px;
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 35px auto 35px;

    padding: 15px;
  }

  .route-name {
    margin: 0;

    color: white;
    line-height: 1;
    font-size: 26px;
    text-align: center;
    font-weight: normal;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 35px;

    border-radius: 4px;
    border: 1px solid #89c4ff;

    color: white;
  }

  .icon:deep .svg {
    width: 20px;
    height: 20px;
  }

  .back:deep .svg {
    transform: rotate(-90deg);
  }

  .header:deep .sidebar--menu {
    width: 100%;
    max-width: 297px;

    padding: 0;
  }

  .header:deep .p-dropdown {
    z-index: 2;
    position: relative;

    background-color: #d2e0eed9;
  }

  @media screen and (min-width: 631px) {
    
    .header::before {
      background-size: cover;
    }

  }

</style>