<template>
  <div class="overlay">
    <div class="content">
      <header class="header">
        <label>
          <strong>{{ `${__("The year")} ${data.year}` }}</strong>
          <span>{{ __("Total payment: {0} NIS", [data.total]) }}</span>
        </label>
        <router-link  class="close"
                      
                      :to="{ name: 'FinancialReport' }">
          <i-icon name="cancel" />
        </router-link>
      </header>
      <p-vue-table  dataKey="id"
                    
                    :value="data.report"

                    responsiveLayout="scroll">
        <p-vue-column field="month" :header="__('A month')" headerStyle="width: 33%">
          <template #body="{ data }">
            <span>{{ __(data.month) }}</span>
          </template>
        </p-vue-column>
        <p-vue-column field="sum" :header="__('Sum')"></p-vue-column>
        <p-vue-column field="addToPayment" :header="__('Add to payment')">
          <template #body="{ data }">
            <span :class="{
              'payment-status': true,
              'paid-up': data.addToPayment === true,
            }">
              <i-icon name="done" v-if="data.addToPayment == true" />
              {{ __(data.addToPayment === true ?
                  "Paid up" : data.addToPayment === "+" ? 
                    "+ Add to payment" : 
                      "- Added to payment") }}
            </span>
          </template>
        </p-vue-column>
      </p-vue-table>
    </div>
  </div>
</template>

<script>

import { useRoute } from 'vue-router'

import __preview from '@/preview/'

export default {
  setup() {
    const $route = useRoute()

    return {
      data: __preview('financial-report', $route.params),
    }
  },
}
</script>

<style scoped>

  .overlay {
    flex: 1;
    
    display: flex;
    flex-direction: column;

    height: 100%;

    padding: 5px;
  
    background-color: rgba(0, 0, 0, 0.301);
  }

  .content {
    flex: 1;

    background-color: white;
  }

  .header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    padding: 15px;
  }

  .close:deep .svg {
    width: 14px;
    height: 14px;

    color: var(--color-success);
  }

  .header label {
    display: flex;
    flex-direction: column;

    font-size: 18px;
    line-height: 0.93;
    letter-spacing: 0.48px;
    color: var(--color-primary);
  }

  .header label strong {
    font-weight: normal;
  }

  .header label span {
    margin-top: 10px;

    font-size: 15px;
  }

  .payment-status {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.45px;
    color: var(--color-success-hover);
  }

  .payment-status.paid-up {
    color: var(--color-primary);
  }

  .payment-status:deep .svg {
    width: 13px;
    height: 13px;

    margin-left: 4px;
  }

</style>  