<template>
  <div class="inner">
    <router-view></router-view>
  </div>
  <div class="bottom">
    <span class="total">{{ __("Total payment: {0} NIS", [total]) }}</span>
    <router-link :to="{ name: 'PaymentTotal' }">
      <p-vue-button class="p-button-success p-button-rounded">
        {{ __("Go to payment") }}
      </p-vue-button>
    </router-link>
  </div>
</template>

<script>

import { computed, reactive } from 'vue'

import { useRoute } from 'vue-router'

import __preview from '@/preview/'

export default {
  setup() {

    const $route = useRoute()
    
    const data = reactive(__preview("financial-report"))
          data.forEach(datum => {
            datum.total = datum.report.reduce((a, c) => a + c.sum, 0)
          });

    const total = computed(() => {
      if (Object.keys($route.params).length)
        if ($route.params.id)
          return data.filter(datum => datum.id == $route.params.id)[0]?.total

      return data.reduce((a, c) => {
        return a + c.total
      }, 0)
    })

    return {
      data,
      total,
    }
  },
}

</script>

<style scoped>

  .inner {
    flex: 1;

    display: flex;
    flex-direction: column;

    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  .bottom {
    bottom: 0;
    z-index: 2;
    position: sticky;
    position: -webkit-sticky;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px 0;

    background-color: white;
    border-top: 1px solid var(--color-border);
  }

  .bottom:deep a {
    text-decoration: none;
  }

  .bottom:deep .p-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .bottom .total {
    padding: 0 15px;

    font-size: 18px;
    line-height: 1.14;
    letter-spacing: 0.58px;
  }

</style>