<template>
  <div class="container">
    <ul class="items">
      <li v-for="(item, index) in data"
          
          :key="index">
        <router-link  :to="{
            name: 'FinancialReportDetail',
            params: {
              id: item.id
            }
          }">
          <span class="texts">
            <label>{{ `${__("The year")} ${item.year}` }}</label>
            <span>{{ __("A total of {0} NIS remains to be paid for this year", [item.total]) }}</span>
          </span>
          <i-icon name="arrow-alt" />
        </router-link>
      </li>
    </ul>
  </div>
</template>

<script>

import { reactive } from 'vue'

import __preview from '@/preview/'

export default {
  setup() {
    
    const data = reactive(__preview("financial-report"))
          data.forEach(datum => {
            datum.total = datum.report.reduce((a, c) => a + c.sum, 0)
          });

    return {
      data,
    }
  },
}

</script>

<style scoped>

  .items {
    margin: 0;
    padding: 0;

    list-style: none;
  }

  .items li {
    border-bottom: 1px solid var(--color-border);
  }

  .items li a {
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr 34px;

    padding: 20px 0;

    color: inherit;
    text-decoration: none;
  }

  .items li .texts {
    display: flex;
    flex-direction: column;

    font-size: 15px;
    line-height: 0.93;
    letter-spacing: 0.48px;
  }

  .items li .texts label {
    margin-bottom: 7px;

    font-size: 18px;
    line-height: 1.14;
    letter-spacing: 0.58px;

    color: var(--color-primary);
  }

  .items li:deep .svg {
    width: 34px;
    height: 34px;

    color: var(--color-success);
  }

</style>