<template>
  <div class="wrapper">
    <div  v-for="(item, index) of data"
          
          :key="index"
          class="block">
      <h4 class="block__heading">{{ __(item.label) }}</h4>
      <p-vue-table  :value="item.items"

                    dataKey="id"

                    responsiveLayout="scroll">
        <p-vue-column field="forAfee" :header="__('For a fee')">
          <template #body="{ data }">
            {{ __u_value__({ value: data.forAfee, unit: 'P-NIS' }) }}
          </template>
        </p-vue-column>
        <p-vue-column field="includingCreditFees" :header="__('Including credit fees')">
          <template #body="{ data }">
            {{ __u_value__({ value: data.includingCreditFees, unit: 'P-NIS' }) }}
          </template>
        </p-vue-column>
        <p-vue-column field="payments" :header="__('Payments')">
          <template #body="{ data }">
            <i-override-dropdown :options="[1,2,3,4,5,6,7,8,9,10,11,12]"

                            v-model="data.payments"
                            
                            class="p-dropdown-rounded p-dropdown-success">
            </i-override-dropdown>
          </template>
        </p-vue-column>
      </p-vue-table>
    </div>
  </div>
</template>

<script>

import { reactive } from 'vue'

import __preview from '@/preview/'

export default {
  setup() {

    const data = reactive(__preview("payment-total"))

    return {
      data,
    }
  }
}

</script>

<style scoped>

  .wrapper {
    padding: 5px;
  }

  .block {
    margin-bottom: 5px;

    background-color: var(--color-bg);
  }

  .block__heading {
    margin: 0;
    padding: 15px;

    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0.58px;
    color: var(--color-primary);
  }

  .block:deep .p-datatable .p-datatable-thead > tr > th {
    padding: 10px;
  }

  .block:deep .p-datatable .p-datatable-tbody > tr > td {
    padding: 10px;
    
    border: none;
    background-color: var(--color-bg);
  }

  .block:deep .p-dropdown .p-dropdown-label {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  :deep .p-override-dropdown .icons .svg {
    width: 11px;
    height: 10px;
  }

</style>