<template>
  <div class="body-bg">
    <p-vue-panel>
      <template #header>
        <router-link class="p-panel-title" :to="{ name: 'ServiceCalls' }">
          {{ __('Service calls') }}
        </router-link>
      </template>
      <d-service-calls />
    </p-vue-panel>
    <p-vue-panel>
      <template #header>
        <router-link class="p-panel-title" :to="{ name: 'FinancialReport' }">
          {{ __('Financial condition') }}
        </router-link>
      </template>
      <d-financial-condition />
    </p-vue-panel>
    <p-vue-panel>
      <template #header>
        <router-link class="p-panel-title" :to="{ name: 'OpenServiceCall' }">
          {{ __('Home service') }}
        </router-link>
      </template>
      <d-home-service />
    </p-vue-panel>
    <p-vue-panel :header="__('Notices to tenants')">
      <template #icons>
        <div class="new-message">
          <p-vue-button class="new-message-button p-button-outlined p-button-rounded p-button-success"
                        
                        @click="newModal = true">
            <i-icon name="plus" class="new-message-plus" />
          </p-vue-button>
          <span>{{ __("New message") }}</span>
        </div>
      </template>
      <d-house-committee-announcements v-model="announcement" />
    </p-vue-panel>
    <i-banner :src="banner" />
    <p-vue-panel>
      <template #header>
        <router-link class="p-panel-title" :to="{ name: 'TenantRoom' }">
          {{ __('Booking a tenants\' room') }}
        </router-link>
      </template>
      <d-booking-tenants-room />
    </p-vue-panel>
  </div>
  <i-override-dialog  :modal="true"
                      :dismissableMask="true"
                      :title="__(modalTitle)"
                      :style="{
                        width: '100%',
                        maxWidth: '320px',
                      }"
                      
                      v-model:visible="newModal">
    <d-add-new-message  :mode="modalMode"
                        
                        :close="() => newModal = false"
                      />
  </i-override-dialog>
</template>

<script>

import { ref, watch, computed } from 'vue'

import { useStore } from 'vuex'

import DHomeService from '@/components/partials/dashboard/home-service'
import DServiceCalls from '@/components/partials/dashboard/service-calls'
import DAddNewMessage from '@/components/partials/dashboard/add-new-message'
import DFinancialCondition from '@/components/partials/dashboard/financial-condition'
import DBookingTenantsRoom from '@/components/partials/dashboard/booking-tenants-room'
import DHouseCommitteeAnnouncements from '@/components/partials/dashboard/house-committee-announcements'

export default {
  components: {
    DHomeService,
    DServiceCalls,
    DAddNewMessage,
    DFinancialCondition,
    DBookingTenantsRoom,
    DHouseCommitteeAnnouncements
  },
  setup() {
    const $store = useStore()

    const newModal = ref(false)
    const banner = require('@/assets/img/banners/dashboard.jpg')

    const announcement = computed({
      get: () => $store.getters['announcement/getId'],
      set: value => {
        $store.dispatch('announcement/doLoad', value)

        if (value)
          newModal.value = true
        
        return value
      }
    })
    const modalMode = computed(() => $store.getters['announcement/getId'] ? "UPDATE" : "PUT")
    const modalTitle = computed(() => $store.getters['announcement/getId'] ? "Editing a message" : "Add a new message")

    watch(newModal, value => {
      if (!value) announcement.value = null
    })

    return {
      banner,
      newModal,
      modalMode,
      modalTitle,
      announcement,
    }
  }
}

</script>

<style scoped>

  :deep .p-panel:last-child .p-panel-content {
    border-bottom: none;
  }

  :deep .p-panel .p-panel-icons {
    display: block;
  }

  .dashboard-block-wrapper {
    gap: 20px;
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 1fr 126px;
    
    color: black;
    font-size: 14px;
  }

  :deep .p-button {
    padding-left: 5px;
    padding-right: 5px;
  }

  :deep .block-button-text {
    width: 100%;

    color: black;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.45px;
  }

  :deep .dashboard-block-content {
    line-height: 16px;
  }

  .new-message {
    gap: 5px;
    display: grid;
    align-items: center;
    grid-template-columns: 27px 1fr;

    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.45px;
  }

  .new-message-button {
    padding: 8px;
  }

  .new-message-plus {
    width: 9px;
    height: 9px;

    color: black;
  }

</style>