<template>
  <div class="container body-bg">
    <div class="avatar">
      <div class="avatar__wrapper">
        <div class="thumbnail">
          <img  v-if="avatar"
                
                :src="avatar" />
          <i-icon v-else name="avatar" />
          <p-vue-file-upload  url="./"
                              mode="basic"
                              name="avatar"
                              accept="image/*"
                              
                              :auto="true"

                              v-model="avatar"
                              
                              @select="chooseAvatar"
                            />
        </div>
        <span class="plus">
          <i-icon name="plus" />
        </span>
      </div>
    </div>
    <div class="data">
      <div class="preview">
        <label>{{ __("First name") }}:</label>
        <p-vue-input-text v-if="editMode" v-model="data.firstName" />
        <span v-else>{{ data.firstName }}</span>
        <label>{{ __("Last name") }}:</label>
        <p-vue-input-text v-if="editMode" v-model="data.lastName" />
        <span v-else>{{ data.lastName }}</span>
        <template v-for="(cellular, index) in data.cellulars"
                  :key="index">
          <label>{{ `${__("Cellular")} ${(index + 1)}` }}:</label>
          <i-input-phone v-if="editMode" v-model="data.cellulars[index]" />
          <span v-else>{{ cellular }}</span>
        </template>
        <label>{{ __("Mail") }}:</label>
        <p-vue-input-text v-if="editMode" type="email" v-model="data.mail" />
        <span v-else>{{ data.mail }}</span>
      </div>
      <div class="p-d-flex p-jc-end p-mt-3">
        <template  v-if="editMode">
          <p-vue-button class="p-button-outlined p-button-danger p-button-rounded"
                        
                        @click="editMode = false">
            <span class="p-button-text">{{ __("Cancel") }}</span>
          </p-vue-button>
          <p-vue-button class="p-button-outlined p-button-success p-button-rounded p-mr-3"
                        
                        @click="saveChanges">
            <span class="p-button-text">{{ __("Submit details for update") }}</span>
          </p-vue-button>
        </template>
        <p-vue-button v-else
                      
                      class="p-button-outlined p-button-success p-button-rounded"
                      
                      @click="editMode = true">
          <span class="p-button-text">{{ __("Editing") }}</span>
        </p-vue-button>
      </div>
    </div>
    <div class="preferences">
      <h4 class="heading">{{ __("Preferences") }}</h4>
      <div class="settings">
        <label>{{ __("Language") }}:</label>
        <i-override-dropdown  optionLabel="label"
                              
                              :options="languages"
                              :placeholder="__('Choose')"

                              v-model="languageModel"
                            />
        <label>{{ __("Push messages") }}:</label>
        <i-override-dropdown  optionLabel="label"
                              
                              :options="pushMessages"
                              :placeholder="__('Choose')"
                              
                              v-model="pushMessageModel"
                            />
      </div>
    </div>
  </div>
  <s-success-modal v-if="successModal" :message="__('The email was sent successfully!')" />
</template>

<script>

import { reactive, watch, ref } from 'vue'
import { useStore } from 'vuex'

import __preview from '@/preview/'
import { __ } from '@/plugins/i18n/'

import SSuccessModal from '@/components/partials/service-call/success'

export default {
  components: {
    SSuccessModal,
  },
  setup() {
    const $store = useStore();

    const avatar = ref(null)
    const editMode = ref(false)
    const successModal = ref(false)
    const data = reactive(__preview('user-profile'))

    const languages = [
      { value: { code: "he", dir: 'rtl'}, label: "אבריט" },
      { value: { code: "en", dir: 'ltr'}, label: "English" },
    ]

    const pushMessages = [
      { value: "yes", label: __("Agree to accept") },
      { value: "no", label: __("I do not agree to accept") },
    ]

    const languageModel = ref(data.language || null)
    const pushMessageModel = ref(data.pushMessages || null)

    watch(languageModel, lang => $store.dispatch('doLanguageSwitch', lang.value))

    const saveChanges = () => {
      $store.dispatch('doLoading', true)

      setTimeout(() => {
        editMode.value = false

        $store.dispatch('doLoading', false)
        successModal.value = true

        setTimeout(() => {
          successModal.value = false
        }, 2000)
      }, 1500)
    }

    const chooseAvatar = event => {
      const { files } = event

      if (files && files.length)
        return avatar.value = files[0].objectURL

      avatar.value = null;
    }

    watch(avatar, v => console.log(v))

    return {
      data,
      avatar,
      editMode,
      languages,
      successModal,
      pushMessages,
      languageModel,
      pushMessageModel,

      saveChanges,
      chooseAvatar,
    }
  }
}

</script>

<style scoped>

  .avatar {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 17px 0;

    border-bottom: 1px solid var(--color-border-alt)
  }

  .avatar__wrapper {
    position: relative;
  }

  .avatar .thumbnail {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 125px;
    height: 125px;

    overflow: hidden;
    
    border-radius: 125px;
    border: 1px solid #79b34e;

    cursor: pointer;
  }

  .avatar .thumbnail img {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }

  .avatar .thumbnail:deep .svg {
    width: 55px;
    height: 55px;

    color: var(--color-border-alt)
  }

  .avatar .plus {
    right: 4px;
    bottom: 4px;
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;

    border-radius: 30px;
    background-color: white;
    border: 1px solid #79b34e;
  }

  .avatar .plus:deep .svg {
    width: 14px;
    height: 14px;

    color: black;
  }

  .avatar:deep .p-fileupload {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: absolute;

    opacity: 0;
  }

  .avatar:deep .p-fileupload .p-button {
    width: 100%;
    height: 100%;
  }

  .container {
    flex: 1;
    
    display: flex;
    flex-direction: column;
  }

  .data {
    flex: 1;

    display: flex;
    flex-direction: column;

    padding: 20px 0;
  }

  .data .p-button {
    min-width: 160px;
  }

  .preview {
    flex: 1;

    gap: 20px;
    display: grid;
    grid-template-columns: auto 1fr;

    font-size: 16px;
    color: #000000;
    letter-spacing: 0.51px;
  }

  .preview label {
    color: var(--color-primary);
  }

  .preferences {
    padding: 20px 0;

    border-top: 1px solid var(--color-border-alt);
  }

  .preferences .heading {
    margin: 0;

    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.51px;
    color: var(--color-primary);
  }
  
  .preferences .settings {
    padding-top: 20px;

    gap: 20px 2px;
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
  }

</style>