@charset "UTF-8";

:root {
  --color-bg: #ebf6ff;
  --color-bg-light: #f7fbff;
  
  --color-border: #dddddd;
  --color-border-alt: #d8e6f1;

  --color-overlay: rgba(0, 0, 0, 0.4);

  --color-text: black;
  --color-link: #3a96ce;
  --color-error: #d10000;
  --color-label: #7b7b7b;

  --color-accent: #04519f;
  --color-accent-hover: #014283;
  --color-accent-active: #023568;

  --color-danger: #b92d2d;
  --color-danger-hover: #a81a1a;
  --color-danger-active: #8f0a0a;

  --color-primary: #277dbe;
  --color-primary-hover: #16639e;
  --color-primary-active: #0b5994;

  --color-success: #55ad00;
  --color-success-hover: #4a9702;
  --color-success-active: #3c7c00;
}

html.rtl,
body.rtl {
  direction: rtl;
}

.p-component {
  font-family: OpenSansHebrew;
}

.p-error {
  color: var(--color-danger);
}

.p-inputtext {
  outline: none;

  color: black;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.51px;

  border: 1px solid var(--color-border);
}

.p-inputtext--alt,
.p-inputtext--alt input {
  border-color: var(--color-border-alt);
}

.p-inputtext:enabled:focus {
  box-shadow: none;
  border-color: var(--color-border);
}

.p-inputtext.p-inputtext-rounded {
  border-radius: 30px;
}

.p-inputtext.p-inputtext-bold {
  border-width: 2px;
}

.p-inputtext.p-inputtext-primary {
  border-color: var(--color-primary);
}

.p-inputtext.p-inputtext-success {
  border-color: var(--color-success);
}

.p-dropdown.p-invalid,
.p-inputtext.p-invalid,
.p-inputtext.p-inputtext-danger {
  border-color: var(--color-danger);
}

.p-inputtext.p-inputtext-accent {
  border-color: var(--color-accent);
}

.p-button.p-button-danger {
  background-color: var(--color-danger);
}
.p-button.p-button-danger:enabled:hover {
  background-color: var(--color-danger-hover);
}
.p-button.p-button-danger:enabled:active {
  background-color: var(--color-danger-active);
}

.p-button.p-button-danger.p-button-outlined,
.p-buttonset.p-button-danger > .p-button.p-button-outlined,
.p-splitbutton.p-button-danger > .p-button.p-button-outlined {
  color: var(--color-danger);
}
.p-button.p-button-danger.p-button-outlined:hover,
.p-buttonset.p-button-danger > .p-button.p-button-outlined:hover,
.p-splitbutton.p-button-danger > .p-button.p-button-outlined:hover {
  color: var(--color-danger-hover);
}
.p-button.p-button-danger.p-button-outlined:active,
.p-buttonset.p-button-danger > .p-button.p-button-outlined:active,
.p-splitbutton.p-button-danger > .p-button.p-button-outlined:active {
  color: var(--color-danger-active);
}


.p-button.p-button-accent {
  background-color: var(--color-accent);
}
.p-button.p-button-accent:enabled {
  background-color: var(--color-accent-hover);
}
.p-button.p-button-accent:enabled {
  background-color: var(--color-accent-active);
}

.p-button.p-button-accent.p-button-outlined,
.p-buttonset.p-button-accent > .p-button.p-button-outlined,
.p-splitbutton.p-button-accent > .p-button.p-button-outlined {
  color: var(--color-accent);
}
.p-button.p-button-accent.p-button-outlined:hover,
.p-buttonset.p-button-accent > .p-button.p-button-outlined:hover,
.p-splitbutton.p-button-accent > .p-button.p-button-outlined:hover {
  color: var(--color-accent-hover);
}
.p-button.p-button-accent.p-button-outlined:active,
.p-buttonset.p-button-accent > .p-button.p-button-outlined:active,
.p-splitbutton.p-button-accent > .p-button.p-button-outlined:active {
  color: var(--color-accent-active);
}

.p-button.p-button-primary {
  background-color: var(--color-primary);
}
.p-button.p-button-primary:enabled:hover {
  background-color: var(--color-primary-hover);
}
.p-button.p-button-primary:enabled:active {
  background-color: var(--color-primary-active);
}

.p-button.p-button-primary.p-button-outlined,
.p-buttonset.p-button-primary > .p-button.p-button-outlined,
.p-splitbutton.p-button-primary > .p-button.p-button-outlined {
  color: var(--color-primary);
}
.p-button.p-button-primary.p-button-outlined:hover,
.p-buttonset.p-button-primary > .p-button.p-button-outlined:hover,
.p-splitbutton.p-button-primary > .p-button.p-button-outlined:hover {
  color: var(--color-primary-hover);
}
.p-button.p-button-primary.p-button-outlined:active,
.p-buttonset.p-button-primary > .p-button.p-button-outlined:active,
.p-splitbutton.p-button-primary > .p-button.p-button-outlined:active {
  color: var(--color-primary-active);
}

.p-button.p-button-success {
  background-color: var(--color-success);
}
.p-button.p-button-success:enabled:hover {
  background-color: var(--color-success-hover);
}
.p-button.p-button-success:enabled:active {
  background-color: var(--color-success-active);
}

.p-button.p-button-success.p-button-outlined,
.p-buttonset.p-button-success > .p-button.p-button-outlined,
.p-splitbutton.p-button-success > .p-button.p-button-outlined {
  color: var(--color-success);
}
.p-button.p-button-success.p-button-outlined:hover,
.p-buttonset.p-button-success > .p-button.p-button-outlined:hover,
.p-splitbutton.p-button-success > .p-button.p-button-outlined:hover {
  color: var(--color-success-hover);
}
.p-button.p-button-success.p-button-outlined:active,
.p-buttonset.p-button-success > .p-button.p-button-outlined:active,
.p-splitbutton.p-button-success > .p-button.p-button-outlined:active {
  color: var(--color-success-active);
}

.p-button.p-button-bold {
  border-width: 2px !important;
}

.p-button .p-button-text {
  flex: 0 0 100%;

  color: black;
  text-align: center;
}

.p-dropdown-rounded {
  border-radius: 30px;

  overflow: hidden;
}

.p-dropdown {
  padding: 5px 0;
  
  border-color: var(--color-border);
}

.p-dropdown:not(.p-disabled).p-focus {
  box-shadow: none;
  border-color: var(--color-border);
}

.p-dropdown .p-dropdown-label.p-placeholder {
  color: black;
}

.p-dropdown.p-dropdown-bold {
  border-width: 2px;
}

.p-dropdown .p-dropdown-label {
  font-size: 16px;
}

.p-dropdown.p-dropdown-clearable .p-dropdown-label {
  padding: 7px 10px;
}

.p-dropdown-sm .p-dropdown-label {
  font-size: 0.5rem;
  padding: 0.4375rem 0.65625rem;
}
.p-dropdown-lg .p-dropdown-label {
  font-size: 1rem;
  padding: 0.625rem 0.9375rem;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  background-color: var(--color-primary);
}

.p-dropdown .p-dropdown-trigger {
  display: none;
}

.p-dropdown .p-dropdown-arrow {
  width: 15px;
  height: 15px;

  transform: rotate(-90deg);

  color: var(--color-success);
}

.p-panel .p-panel-header {
  padding: 15px;

  border: none;
  background: transparent;
}

.p-panel.p-no-header .p-panel-header {
  display: none;
}

.p-panel .p-panel-header .p-panel-title {
  font-size: 16px;
  text-decoration: none;
  letter-spacing: 0.51px;
  color: var(--color-accent);
}

.p-panel .p-panel-header .p-panel-icons {
  display: none;
}

.p-panel .p-panel-content {
  padding: 0 15px 15px;

  border-radius: 0;
  background-color: transparent;
}

.p-field > label {
  font-size: 16px;
  line-height: 1.28;
  font-weight: normal;
  letter-spacing: 0.51px;
  color: var(--color-primary);
}

.p-dialog .p-dialog-header-icons {
  display: none !important;
}

.p-dialog .p-dialog-content {
  height: 100%;
}


.p-tabview .p-tabview-nav {
  border-color: var(--color-primary);
}

.p-tabview.p-tabview-center .p-tabview-nav {
  justify-content: space-between;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  font-weight: bold;
  color: var(--color-primary);
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link::after {
  content: '';

  border-style: solid;
  border-width: 6px 6px;
  border-color: transparent transparent var(--color-primary) transparent;

  bottom: 0;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  margin: 0;
  padding: 15px 10px;

  border: none;
  border-radius: 0;

  color: black;
  font-size: 16px;
  line-height: 1.28;
  font-weight: normal;
  letter-spacing: 0.51px;
}

.p-tabview .p-tabview-panels {
  padding: 0;
}

@media screen and (min-width: 576px) {
  .p-tabview.p-tabview-center .p-tabview-nav {
    justify-content: center;
  }
}

.p-datatable {
  border-top: 1px solid var(--color-primary);
}

.p-datatable .p-datatable-tbody > tr > td,
.p-datatable .p-datatable-tfoot > tr > td {
  padding: 15px;

  border-width: 0 0 1px 0;
  border-color: var(--color-border-alt);
  
  color: black;
  font-size: 14px;
  line-height: 1.46;
  font-weight: normal;
  text-align: initial;
  letter-spacing: 0.45px;
}

.p-datatable .p-datatable-tfoot {
  border-top: 2px solid #555;
}

.p-datatable .p-datatable-tfoot > tr > td {
  border-bottom-color: var(--color-primary);

  font-weight: bold;
}

.p-datatable .p-datatable-tfoot > tr:last-child > td {
  border-bottom-color: transparent;
}

.p-datatable.p-no-thead .p-datatable-thead {
  display: none;
}

.p-datatable .p-datatable-thead > tr > th {
  padding: 13px;

  border: none;
  background-color: var(--color-primary);

  color: white;
  font-size: 14px;
  line-height: 1.46;
  font-weight: normal;
  text-align: initial;
  letter-spacing: 0.45px;
}

.p-datatable .expander .svg {
  width: 15px;
  height: 15px;

  color: var(--color-success-hover);

  transition: transform .3s ease;
}

.p-datatable .p-datatable-tbody > tr.expended .expander .svg {
  transform: rotate(180deg);
}

.p-datatable .p-datatable-tbody > tr.expended td {
  background-color: var(--color-bg-light);
  border-bottom-color: var(--color-bg-light);
}

.p-datatable .p-datatable-tbody .p-datatable-row-expansion {
  background-color: var(--color-bg-light);
}

.p-datatable .p-datatable-tbody .p-datatable-row-expansion > td {
  padding-top: 0;
}

.p-sidebar .p-sidebar-close {
  display: none;
}

.p-inputtext {
  border-radius: 0;
}

.p-datepicker table td > span.p-highlight {
  background-color: var(--color-accent);
}

.p-dialog {
  border: none;
}

.p-dialog .p-dialog-header {
  padding: 15px;

  border-radius: 0;
}

.p-dialog.p-override-dialog .p-dialog-header {
  border-bottom-color: var(--color-primary);
}

.p-datepicker.p-datepicker-inline.p-datepicker-timeonly {
  border: none;
}

.p-datepicker .p-timepicker {
  padding: 0;
  border: none;
  border-radius: 0;
}

.p-datepicker .p-timepicker > div {
  color: #424242;
}

.p-datepicker .p-timepicker .p-separator {
  padding: 0;

  color: #ababab;
}

.p-datatable .p-sortable-column:not(.p-highlight):hover {
  color: white;
  background-color: var(--color-primary-hover)
}

.p-datatable .p-sortable-column.p-highlight,
.p-datatable .p-sortable-column.p-highlight:hover {
  color: white;
  background-color: var(--color-primary-active)
}

.p-fileupload .p-fileupload-buttonbar {
  padding: 0;

  border: none;
  border-radius: 0;
  background: none;
}

.p-fileupload .p-fileupload-content {
  display: none;
}

body[dir="rtl"] .p-field-checkbox > label,
body[dir="rtl"] .p-field-radiobutton > label {
  margin-left: 0;
  margin-right: .5rem;
}

.p-button-group > .p-button:last-child,
.p-button-group > div:last-child > .p-button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.p-button-group > .p-button:first-child,
.p-button-group > div:first-child > .p-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.p-radiobutton .p-radiobutton-box,
.p-radiobutton .p-radiobutton-box.p-highlight {
  background: none;
  border: 1px solid var(--color-border-alt);
}

.p-radiobutton-box.p-highlight .p-radiobutton-icon {
  background-color: var(--color-primary);
}