@import url('./fonts/opensanshebrew/font-face.css');

@import './variables.css';

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #222;

  color: var(--color-text);
  font-family: var(--font-default);
  font-size: var(--text-size-default);
  line-height: var(--text-line-default);
}

img {
  max-width: 100%;
}

.no-radius {
  border-radius: 0 !important;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

.body-bg {
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 115px;
  background-image: url('./img/banners/body-bg.png');
}

@media screen and (min-width: 631px) {
    
  .body-bg {
    background-size: 100% auto;
  }

}