:root {
   /* ------ Fonts ------ */
  --font-default: 'OpenSansHebrew';
  --font-logo-primary: 'Walkway Black';
  --font-logo-secondary: 'Hasteristico Light';

  /* ------ COLORS ------ */
  
  /* ------ FONT SIZE ------ */
  --text-size-default: 14px;
  
  /* ------ LINE HEIGHT ------ */
  --text-line-default: 1.43;
}