<template>
  <main class="main">
    <router-view />
  </main>
</template>

<script>

import { onBeforeMount } from 'vue'

import { useStore } from 'vuex'

export default {
  setup() {
    const $store = useStore()

    onBeforeMount(() => {
      $store.dispatch('doLocalization')
    })
  }
}
</script>

<style scoped>

.main {
  width: 100%;
  max-width: 100%;

  margin-left: auto;
  margin-right: auto;

  background-color: white;
}

</style>
