<template>
  <i-loading  v-if="loading"
                
              overlay
            />
  <i-page class="layout">
    <p-navbar />
    <i-page-content class="layout__content">
      <router-view />
    </i-page-content>
  </i-page>
</template>

<script>

import { computed } from 'vue'

import { useStore } from 'vuex'

import PNavbar from '@/components/partials/p-navbar'

export default {
  components: {
    PNavbar,
  },
  setup() {
    const $store = useStore()

    const loading = computed(() => $store.getters.getLoading)
    
    if (!$store.getters.getRequires)
      $store.dispatch('doRequires').
        then(result => {
          if (result.success)
            $store.dispatch('doLoading', false)
        })

    return {
      loading,
    }
  }
}

</script>

<style scoped>

  .layout__content {
    display: flex;
    flex-direction: column;
  }

</style>