<template>
  <i-page class="login">
    <div class="wrapper">
      <p-logo class="logo" />
      <router-view />
    </div>
    <p-footer />
  </i-page>
</template>

<script>

import { useStore } from 'vuex'

import PLogo from '@/components/partials/p-logo'
import PFooter from '@/components/partials/p-footer'

export default {
  components: {
    PLogo,
    PFooter,
  },
  setup() {
    
    const $store = useStore() 

    if (!$store.getters.getRequires)
      $store.dispatch('doRequires').
        then(result => {
          if (result.success)
            $store.dispatch('doLoading', false)
        })
  }
}

</script>

<style scoped>

  .login {
    display: flex;
    flex-direction: column;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-image: url('../assets/img/banners/login-bg.jpg')
  }

  .logo {
    margin-bottom: 35px;
  }

  .wrapper {
    flex: 1;
    
    padding-top: 80px;
  }

  @media screen and (min-height: 700px) {

    .wrapper {
      padding-top: 20vh;
    }
  }

  @media screen and (min-height: 1000px) {

    .wrapper {
      padding-top: 23vh
    }

  }

</style>