<template>
  <p-vue-table  :value="data"
                
                dataKey="id"
                :rowClass="rowClass"
                v-model:expandedRows="expandedRows"

                responsiveLayout="scroll">
    <p-vue-column field="reading" :header="__('Reading')" :sortable="true">
      <template #body="{ data }">
        <a  href="#"
            class="reading"
      
            @click.prevent="() => {
              previewHandle(data.reading)
            }">
          {{ data.reading }}
        </a>
      </template>
    </p-vue-column>
    <p-vue-column field="date" :header="__('Date')" :sortable="true"></p-vue-column>
    <p-vue-column field="topic" :header="__('Topic')" headerStyle="width: 35%" :sortable="true">
      <template #body="{ data }">
        {{ __(data.topic) }}
      </template>
    </p-vue-column>
    <p-vue-column field="status" :header="__('Status')">
      <template #body="{ data }">
        {{ __(data.status) }}
      </template>
    </p-vue-column>
    <p-vue-column :expander="true" class="cell--arrow">
      <template #body="{ data }">
        <a  href="#"
            :class="{
              expander: true,
            }"

            @click.prevent="() => toogleRow(data)">
          <i-icon name="arrow" />
        </a>
      </template>
    </p-vue-column>
    <template #expansion="{ data }">
      <div class="p-fluid">
        <ul :class="styles.additional">
          <li>
            <label>{{ __("Last update") }}:</label>
            <span>{{ data.lastUpdate }}</span>
          </li>
          <li>
            <label>{{ __("Content of the update") }}:</label>
            <span>{{ data.content }}</span>
          </li>
        </ul>
        <p-vue-button class="button--more-detail p-button-success p-button-outlined p-button-rounded"
                      
                      @click="() => previewHandle(data.reading)">
          <span class="p-button-text">{{ __("More details") }}</span>
        </p-vue-button>
      </div>
    </template>
  </p-vue-table>
</template>

<script>

import { ref, reactive } from 'vue'

import __preview from '@/preview/'

import styles from './style.module.css'

export default {
  props: {
    previewHandle: Function,
  },
  setup() {
    const expandedRows = ref([]);
    const data = reactive(__preview('for-treatment'))

    const toogleRow = item => {
      for (let i = 0; i < expandedRows.value.length; i ++) {
        if (expandedRows.value[i].id == item.id) {
          expandedRows.value.splice(i, 1)
          return expandedRows.value = [...expandedRows.value]
        }
      }

      expandedRows.value = [...expandedRows.value, item]
    }

    const rowClass = item => expandedRows.value.filter(datum => datum.id === item.id).length ? 'expended' : ''

    return {
      styles,

      data,
      expandedRows,

      rowClass,
      toogleRow,
    }
  }
}
</script>

<style scoped>

  .reading {
    color: inherit;
  }

  .p-datatable:deep .p-datatable-tbody > tr > td,
  .p-datatable:deep .p-datatable-thead > tr > th {
    padding-left: 10px;
    padding-right: 10px;
  }

  .p-datatable:deep .p-datatable-tbody > tr > td:first-child,
  .p-datatable:deep .p-datatable-thead > tr > th:first-child {
    padding-right: 10px;
  }

  :deep .cell--arrow {
    width: 1px;

    padding: 0 0 0 10px !important;
  }

  .button--more-detail {
    padding-top: 6px;
    padding-bottom: 6px;
  }

</style>