<template>
  <i-date-dropdown />
  <p-vue-tab-view class="p-tabview-center"
                  
                  :activeIndex="tabIndex($route?.params?.tab || 'treated-last-month')"
                  
                  @tab-change="tabChange">
    <p-vue-tab-panel :header="__('Treated in the last month')">
      <local-treated-last-month :previewHandle="previewHandle" />
    </p-vue-tab-panel>
    <p-vue-tab-panel :header="__('For treatment')">
      <local-for-treatment :previewHandle="previewHandle" />
    </p-vue-tab-panel>
    <p-vue-tab-panel :header="__('Planned Maintenance')">
      <local-planned-maintenance />
    </p-vue-tab-panel>
  </p-vue-tab-view>
  <i-override-dialog  v-model:visible="previewModel"

                      :style="{
                        width: '100%',
                        maxWidth: 'calc(100vw - 10px)',
                      }"
                      
                      :modal="true"
                      :dismissableMask="true"
                      :title="`${__('Reading')} ${previewReading}`">
    <local-preview />
  </i-override-dialog>
  <i-plus-button @click="$router.push({ name: 'AllServices' })" />
</template>

<script>

import { useRouter } from 'vue-router'

import LocalPreview from './preview'
import LocalForTreatment from './for-treatment'
import LocalTreatedLastMonth from './treated-last-month'
import LocalPlannedMaintenance from './planned-maintenance'

import { ref } from 'vue'

export default {
  components: {
    LocalPreview,
    LocalForTreatment,
    LocalTreatedLastMonth,
    LocalPlannedMaintenance,
  },
  setup() {
    const $router = useRouter();

    const previewModel = ref(false)
    const previewReading = ref(null)

    const previewHandle = id => {
      previewReading.value = id
      previewModel.value = true
    }

    const tabs = ["treated-last-month", "for-treatment", "planned-maintenance"]

    const tabIndex = name => tabs.indexOf(name)
    const tabChange = event => $router.push({
      name: 'ServiceCalls',
      params: {
        tab: tabs[event.index],
      },
    });
    
    return {
      previewModel,
      previewReading,

      tabIndex,
      tabChange,
      previewHandle,
    }
  }
}

</script>