<template>
  <p-vue-table  :value="data"
                
                dataKey="id"
                
                responsiveLayout="scroll">
    <p-vue-column field="domain" :header="__('Domain')" :sortable="true"></p-vue-column>
    <p-vue-column field="date" :header="__('Date')" :sortable="true"></p-vue-column>
    <p-vue-column field="topic" :header="__('Topic')" headerStyle="width: 40%" :sortable="true">
      <template #body="{ data }">
        {{ __(data.topic) }}
      </template>
    </p-vue-column>
  </p-vue-table>
</template>

<script>

import { reactive } from 'vue'

import __preview from '@/preview/'


export default {
  setup() {
    const data = reactive(__preview('planned-maintenance'))

    return {
      data,
    }
  }
}
</script>

<style scoped>

  .p-datatable:deep .p-datatable-tbody > tr > td,
  .p-datatable:deep .p-datatable-thead > tr > th {
    padding-left: 10px;
    padding-right: 10px;
  }

  .p-datatable:deep .p-datatable-tbody > tr > td:first-child,
  .p-datatable:deep .p-datatable-thead > tr > th:first-child {
    padding-right: 10px;
  }

</style>