<template>
  <div class="data">
    <div class="field">
      <label class="label">{{ __("Last update") }}:</label>
      <span>02/02/2021</span>
    </div>
    <div class="field">
      <label class="label">{{ __("Opening date") }}:</label>
      <span>01/02/2021</span>
    </div>
    <div class="field">
      <label class="label">{{ __("Closing date") }}:</label>
      <span>---</span>
    </div>
  </div>
  <div class="field">
    <label class="label">{{ __("Content of last update") }}:</label>
    <span>טקסט של תוכן עדכון אחרון טקסט של תוכן עדכון אחרון</span>
  </div>
  <div class="table">
    <h6 class="label">{{ __("Related expenses") }}:</h6>
    <p-vue-table  :value="data"
                  
                  responsiveLayout="scroll">
      <p-vue-column field="invoicing" :header="__('Invoicing')"></p-vue-column>
      <p-vue-column field="sum" :header="__('Sum')"></p-vue-column>
      <p-vue-column field="actions" :header="__('Actions')">
        <template #body>
          <a  href="#"
              class="preview"

              @click.prevent="() => null">
            <i-icon name="eye" />
          </a>
        </template>
      </p-vue-column>
    </p-vue-table>
  </div>
  <div class="attachments">
    <h6 class="label">{{ __("Photos") }}:</h6>
    <ul>
      <li><a href="#">{{ __("Picture") }} 1</a></li>
      <li><a href="#">{{ __("Picture") }} 2</a></li>
      <li><a href="#">{{ __("Picture") }} 3</a></li>
    </ul>
  </div>
</template>

<script>

import { __ } from '@/plugins/i18n/'

export default {
  setup() {
    const data = [
      {
        invoicing: __("File name text"),
        sum: 1345,
        actions: true
      }
    ]

    return {
      data,
    }
  },
}
</script>

<style scoped>

  .data {
    display: grid;
    gap: 15px 25px;
    justify-content: space-between;
    grid-template-columns: auto auto auto;
  }

  .field {
    display: flex;
    flex-direction: column;

    margin-bottom: 15px;

    font-size: 14px;
  }

  .label {
    margin-bottom: 5px;

    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.45px;
    color: var(--color-primary);
  }

  .preview {
    display: block;

    width: max-content;

    margin-left: auto;
    margin-right: auto;

    color: var(--color-success)
  }

  .preview:deep .svg {
    width: 25px;
    height: 25px;
  }

  h6.label {
    margin-top: 15px;
  }

  .attachments ul {
    display: flex;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;

    list-style: none;
  }

  .attachments ul li a {
    letter-spacing: 0.45px;
    color: var(--color-success-active);
  }

  .attachments ul li:not(:last-child) a:after {
    content: ','
  }

</style>