.additional {
  margin: 0;
  padding: 15px 0 15px;

  border-top: 1px solid white;

  list-style: none;
}

.additional li:not(:last-child) {
  margin-bottom: 15px;
}

.additional li {
  display: flex;
  flex-wrap: wrap;

  color: black;
  font-size: 14px;
  line-height: 1.46;
  letter-spacing: 0.45px;
}

.additional li label {
  margin-left: 5px;

  font-weight: normal;
  color: var(--color-primary);
}