<template>
  <p-vue-table  :value="data"
                
                dataKey="id"
                
                responsiveLayout="scroll">
    <p-vue-column field="entrance" :header="__('Entrance')" :sortable="true">
      <template #body="{ data }">
        {{ `${__(data.entrance)}'` }}
      </template>
    </p-vue-column>
    <p-vue-column field="apartment" :header="__('Apartment')" :sortable="true">
      <template #body="{ data }">
        {{ __u_value__({ unit: 'number-f', value: data.apartment }) }}
      </template>
    </p-vue-column>
    <p-vue-column field="hPartnerCommittee" :header="__('H. Partner Committee')" :sortable="true">
      <template #body="{ data }">
        <span :class="{
          debt: data.hPartnerCommittee
        }">{{ __(data.hPartnerCommittee ? "There is a debt" : "No debt") }}</span>
      </template>
    </p-vue-column>
    <p-vue-column field="hSpecial" :header="__('H. Special')" :sortable="true">
      <template #body="{ data }">
        <span :class="{
          debt: data.hSpecial
        }">{{ __(data.hSpecial ? "There is a debt" : "No debt") }}</span>
      </template>
    </p-vue-column>
  </p-vue-table>
</template>

<script>

import { reactive } from 'vue'

import __preview from '@/preview/'

export default {
  setup() {

    const data =  reactive(__preview('collection-mode'))

    return {
      data,
    }
  }  
}

</script>

<style scoped>

  .debt {
    color: var(--color-error);
  }

</style>