<template>
  <header class="company">
    <img :src="data.logo" />
    <div>
      <h1 class="company__name">{{ data.name }}</h1>
      <ul class="company__info">
        <li>
          {{ `${__("Tel")}: ${data.phone}` }}
          {{ `${__("Fax")}: ${data.fax}` }}
        </li>
        <li>
          <span>{{ __("Email") }}: </span>
          <a :href="`mailto:${data.email}`">{{ data.email }}</a>
        </li>
        <li>
          <span>{{ __("Website") }}: </span>
          <a :href="data.website" target="_blank">{{ data.website }}</a>
        </li>
      </ul>
    </div>
  </header>
  <div class="period">
    <h2 class="heading period__heading p-text-center">{{ __("Periodic activity detail report") }}</h2>
    <div class="period__caption">{{ __("Report period - {0} - {1}", data.reportPeriod.date) }}</div>
    <ul class="collections container">
      <li>
        <h3 class="heading">{{ __("Collection") }}</h3>
      </li>
      <li v-for="(item, index) of data.reportPeriod.collections"
          
          :key="index">
        <div class="label">{{ item.label }}</div>
        <div class="value">
          <span>{{ __u_value__({ value: item.value, unit: 'number-f' }) }}</span>
          <span v-if="item.hint" class="hint">({{ item.hint }})</span>
        </div>
      </li>
      <li class="total">
        <div class="label">{{ __("Total collection in the reporting period") }}</div>
        <div class="value">
          <span>{{ collectionsTotal }}</span>
          <span class="hint">({{ __("Total payment confirmations generated in the system during the reporting period") }})</span>
        </div>
      </li>
    </ul>
  </div>
  <d-detailed-financial-report-table  v-for="(table, tableName) of data.tables"
        
                                      :value="table"
                                      :key="tableName"
                                      :balance="data.cumulativeBalance"
                                      :showTotal="showTotal(tableName)"
                                      :title="__(tableHeading(tableName))"
                                      :showBalance="tableName == 'general'"
                                      :showRevenue="showRevenue(tableName)"

                                      :class="[`table--${tableName}`]"
                                    />
  <div class="container">
    <div class="cumulative-balance">
      <div>{{ __("Cumulative balance") }}</div>
      <div>{{ __u_value__({ value: data.cumulativeBalance, unit: 'number-f' }) }}</div>
    </div>
  </div>
</template>

<script>

import { computed, reactive } from 'vue'

import __preview from '@/preview/'

import DDetailedFinancialReportTable from '@/components/partials/detailed-financial-report/table'

export default {
  components: {
    DDetailedFinancialReportTable,
  },
  setup() {
    const data = reactive(__preview('detailed-financial-report'))

    if (!data.logo)
      data.logo = require('@/assets/img/logos/company-fn-logo.png')

    const collectionsTotal = computed(() =>
      data.reportPeriod.collections.reduce((a, o) => a + o.value, 0))

    const tableHeading = name => {
      switch (name) {
        case 'ordinaryIncome': return 'Ordinary income'
        case 'ordinaryExpenses': return 'Ordinary expenses'
        case 'specialIncome': return 'Special income'
        case 'specialExpenses': return 'Special expenses'
        case 'general': return 'General'
      }
    }

    const showTotal = name => ['ordinaryExpenses','specialExpenses'].includes(name)
    const showRevenue = name => ['ordinaryExpenses','specialExpenses','general'].includes(name)

    return {
      data,
      collectionsTotal,

      showTotal,
      showRevenue,
      tableHeading,
    }
  }
}

</script>

<style scoped>

  .company {
    gap: 10px;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;

    padding: 15px;

    font-size: 14px;
    color: #2b2b2b;
    font-weight: normal;
  }

  .company__name {
    margin: 0;
    padding: 0;

    font-size: 14px;
    font-weight: bold;
  }

  .company__info {
    margin: 0;
    padding: 0;

    list-style: none;
  }

  .company__info li {
    margin-top: 9px;
  }

  .company a {
    text-decoration: underline;
    color: var(--color-success-active);
  }

  .heading {
    font-size: 16px;
    font-weight: bold;
    color: var(--color-primary);
  }

  .period {
    padding: 15px 0 0;
  }
  
  .period__heading {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .period__caption {
    padding: 12px 15px;

    background-color: var(--color-success);

    color: white;
    font-size: 16px;
    text-align: center;
  }

  .collections {
    margin: 0;
    padding: 12px 15px;

    list-style: none;
  }

  .collections .heading {
    margin: 0;
  }

  .collections li {
    display: grid;
    grid-template-columns: 1fr 1fr;

    padding: 10px 0;

    line-height: 1;
    font-size: 14px;
    color: #000000;
  }
  
  .collections li:not(:last-child) {
    border-bottom: 1px solid var(--color-border);
  }

  .collections li.total {
    font-weight: bold;
  }

  .collections li .value .hint {
    font-weight: normal !important;
  }

  .collections li > div {
    gap: 10px;
    display: grid;
    grid-template-columns: auto 1fr;
  }

  .table {
    padding-bottom: 20px;
  }

  .table .heading {
    margin: 0 0 10px 0;
  }

  .table:deep .p-datatable .p-datatable-thead > tr > th,
  .table:deep .p-datatable .p-datatable-tbody > tr > td,
  .table:deep .p-datatable .p-datatable-tfoot > tr > td {
    padding: 8px 3px;
  }

  .table:deep .p-datatable .p-datatable-tbody > tr > td {
    border-bottom-color: var(--color-border);
  }
  
  .table--general:deep .table__heading { 
    color: var(--color-success);
  }

  .table--general:deep .p-datatable {
    border-top-color: var(--color-success);
  }

  .table--general:deep .p-datatable .p-datatable-thead > tr > th {
    background-color: var(--color-success);
  }

  .cumulative-balance {
    gap: 3px;
    display: grid;
    grid-template-columns: 50% 1fr;

    padding: 8px 0;
    margin-bottom: 20px;

    border: 1px solid var(--color-border);
    border-width: 1px 0 1px 0;

    color: black;
    line-height: 1;
    font-size: 14px;
  }

</style>