<template>
  <p-vue-table  :value="data"
                
                dataKey="id"
                
                responsiveLayout="scroll">
    <p-vue-column field="section" :header="__('Section')" headerStyle="width: 50%">
      <template #body="{ data }"> {{ __(data.section) }} </template>
    </p-vue-column>
    <p-vue-column field="budget" :header="__('Budget')"></p-vue-column>
    <p-vue-column field="expenditure" :header="__('Expenditure')"></p-vue-column>
    <p-vue-column field="survivor" :header="__('Survivor')">
      <template #body="{ data }"> {{ `${data.survivor}%` }} </template>
    </p-vue-column>
  </p-vue-table>
</template>

<script>

import { reactive } from 'vue'

import __preview from '@/preview/'

export default {
  setup() {
    const data =  reactive(__preview('expenditure-and-budget'))

    return {
      data,
    }
  }  
}

</script>