<template>
  <i-date-dropdown />
  <p-vue-tab-view class="p-tabview-center">
    <p-vue-tab-panel :header="__('Collection mode')">
      <local-collection-mode />
    </p-vue-tab-panel>
    <p-vue-tab-panel :header="__('Expenditure and budget')">
      <local-expenditure-and-budget />
    </p-vue-tab-panel>
    <p-vue-tab-panel :header="__('Detailed financial report')">
      <local-detailed-financial-report />
    </p-vue-tab-panel>
  </p-vue-tab-view>
</template>

<script>

import LocalCollectionMode from './collection-mode'
import LocalExpenditureAndBudget from './expenditure-and-budget'
import LocalDetailedFinancialReport from './detailed-financial-report'

export default {
  components: {
    LocalCollectionMode,
    LocalExpenditureAndBudget,
    LocalDetailedFinancialReport,
  }
}
</script>